<div class="col-12 py-3">
    <div class="row mb-3">
        <div class="col-md-8 text-left">
            <div class="row d-flex">
                <div class="col-md-6">
                    <label for="clientSelect" class="form-label">Seleccionar Cliente</label>
                    <ng-select [items]="clients" [clearable]="false" bindLabel="name_company" bindValue="id"
                        placeholder="Buscar cliente..." (change)="onClientChange($event)" [searchable]="true">
                    </ng-select>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Opciones de venta</label>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="lector" id="lector">
                            <label class="form-check-label" for="lector">
                                ¿Lector?
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="credit" id="credit">
                            <label class="form-check-label" for="credit">
                                ¿Crédito?
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Botones y grid principal -->
        <div class="col text-right">
            <button type="button" class="btn btn-primary me-1" (click)="addRow()">
                <i class="bi bi-plus-lg"></i>
            </button>
            <button type="button" class="btn btn-danger ms-1 me-1" (click)="deleteRow()">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ag-grid-angular style="width: 100%; height: 55vh;" class="ag-theme-quartz" [rowData]="rowData"
                [columnDefs]="colMaster" (gridReady)="onGridReady($event)" [rowSelection]="rowSelection"
                [pivotPanelShow]="pivotPanelShow" [rowGroupPanelShow]="rowGroupPanelShow"
                [paginationPageSize]="paginationPageSize" [paginationPageSizeSelector]="paginationPageSizeSelector"
                [pagination]="true" [components]="components" (selectionChanged)="onSelectionChanged()">
            </ag-grid-angular>
        </div>
    </div>

    <!-- Añadir después del grid -->
    <div class="total-section mt-3 d-flex justify-content-end align-items-center">
        <div class="total-label me-3">
            <strong>Total General:</strong>
        </div>
        <div class="total-amount">
            {{ formatCurrency(totalGeneral) }}
        </div>
        <div class="ms-3">
            <button type="button" class="btn btn-primary btn-lg" (click)="printReceipt()">Imprimir nota</button>
        </div>
    </div>
</div>