<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="page03" routerLinkActive="active"><i 
            class="bi bi-file-earmark-person-fill"></i>{{'providers' | translate}} </a>
        </li>
        
        <!--<li class="nav-item">
          <a class="nav-link green-tab" routerLink="warehouses" routerLinkActive="active"><i
            class="bi bi-houses"></i> {{'warehouses' | translate}}</a>
        </li>-->

        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="page02typemat" routerLinkActive="active"><i class="bi bi-archive-fill"></i>
            {{'materials' | translate}}</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="requisitions" routerLinkActive="active"><i
            class="bi bi-list-task"></i> {{'requisitions' | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="purchaseorder" routerLinkActive="active"><i
            class="bi bi-cart-fill"></i> {{'orders' | translate}} {{'purchase' | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="raw-materials" routerLinkActive="active">
            <i class="bi bi-arrow-down-left"></i> {{'raw-materials' | translate}}
          </a>
        </li>

        <!--
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="outings" routerLinkActive="active">
            <i class="bi bi-arrow-up-right"></i> {{'outings' | translate}}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="kardex" routerLinkActive="active"><i
            class="bi bi-pc-display-horizontal"></i> {{'kardex' | translate}} </a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="guard" routerLinkActive="active"><i
            class="bi bi-graph-up"></i> {{'guard' | translate}} </a>
        </li>-->

        
    
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="catalogs" routerLinkActive="active"><i class="bi bi-journal-text"></i>
             Catálogos</a>
       </li>

        
       <li class="nav-item">
        <a class="nav-link green-tab" routerLink="setupwh" routerLinkActive="active"><i
          class="bi bi-gear-fill"></i> {{'setting' | translate}}</a>
      </li>

      </ul>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
