<div class="col-12 mt-3 light-blue-background">
  <div class="row mt-1 mb-2 align-items-end ms-1" [formGroup]="selectFechas">
    <div class="col-auto">
      <label class="form-label small mb-0">Fecha inicio</label>
      <input type="date" class="form-control form-control-sm" formControlName="fechaInicio">
    </div>
    <div class="col-auto">
      <label class="form-label small mb-0">Fecha fin</label>
      <input type="date" class="form-control form-control-sm" formControlName="fechaFin">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-sm btn-primary" (click)="consultar()">
        <i class="bi bi-search"></i> Consultar
      </button>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <ag-grid-angular
        style="width: 100%;"
        [ngStyle]="{'height': gridHeight}"
        class="ag-theme-quartz small-text-ag-grid"
        [rowData]="rowData"
        [columnDefs]="colMaster"
        [defaultColDef]="defaultColDef"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)"
        [pagination]="false"
        [stopEditingWhenCellsLoseFocus]="true">
      </ag-grid-angular>
    </div>
  </div>
</div>