  <div class="col-12">
    <div class="row">
      <div class="col-auto mt-3">
        <div class="d-flex flex-column gap-1 me-0">
          <button type="button" class="btn btn-primary" (click)="addRow()">
            <i class="bi bi-plus-lg"></i>
          </button>
          <button type="button" class="btn btn-success position-relative" (click)="saveChanges()">
            <i class="bi bi-floppy"></i>
            <span class="position-absolute top-0 end-0 translate-middle p-2 bg-danger border border-light rounded-circle"
              *ngIf="notSavedChanges">
              <span class="visually-hidden">Hay cambios sin guardar</span>
            </span>
          </button>
          <button type="button" class="btn btn-warning" (click)="refreshData()">
            <i class="bi bi-arrow-clockwise"></i>
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteEntry()">
            <i class="bi bi-trash"></i>
          </button>
          <button type="button" class="btn btn-secondary" (click)="resetGridSize()">
            <i class="bi bi-arrows-fullscreen"></i>
          </button>
        </div>
      </div>

      <div class="col mt-3">
        <ag-grid-angular
          style="width: 100%;"
          [ngStyle]="{'height': gridHeight}"
          class="ag-theme-quartz small-text-ag-grid"
          [rowData]="rowData"
          [columnDefs]="colMaster"
          (selectionChanged)="onSelectionChanged($event)"
          [gridOptions]="gridOptions"
          (cellValueChanged)="onCellValueChanged($event)"
          (rowSelected)="onSelectedRow($event)"
          (gridReady)="onGridReady($event)"
          rowSelection="single"
          [pivotPanelShow]="pivotPanelShow"
          [rowSelection]="rowSelection">
        </ag-grid-angular>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="detailpayroll" role="tabpanel" aria-labelledby="detailpayroll-tab" *ngIf="showPayrollDetailTab">
            <app-detailpayroll></app-detailpayroll>
          </div>
        </div>

      </div>



  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  </div>
