/* image-carousel.component.css */
.nav-pills .nav-link {
  cursor: pointer;
}

.nav-pills .nav-link.active {
  background-color: #007bff;
  color: white;
}

.full-height {
  height: 100vh;
}

.left-column {
  height: calc(100vh - 2rem);
  overflow-y: auto;
  padding-right: 15px;
}

.right-column {
  height: calc(100vh - 2rem);
  overflow-y: auto;
}

.card-primary {
  flex-shrink: 0;
}

.grid-container {
  height: 300px;
    overflow: auto;
}

.ag-theme-quartz {
  width: 100%;
  height: 100%;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.ag-cell {
  line-height: 20px;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

/* Estilos existentes del carrusel */
.carousel-container { 
  position: relative; 
  width: 100%; 
  overflow: hidden; 
  height: 200px; 
}

.carousel-row { 
  display: flex; 
  transition: transform 0.5s ease; 
}

.carousel-image { 
  width: auto; 
  height: 180px; 
  margin-right: 10px; 
}

.carousel-button { 
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  background: rgba(0,0,0,0.5); 
  color: white; 
  border: none; 
  padding: 10px; 
  cursor: pointer; 
}

.prev { 
  left: 10px; 
}

.next { 
  right: 10px; 
}


.ag-root-wrapper {
  border: solid 1px;
  border-color: #babfc7;
  border-radius: 4px;
}

/* Estilos para las barras de desplazamiento */
.ag-body-horizontal-scroll,
.ag-body-vertical-scroll {
  width: auto !important;
  height: auto !important;
}

.ag-body-horizontal-scroll-viewport,
.ag-body-vertical-scroll-viewport {
  overflow-y: auto !important;
  overflow-x: auto !important;
}

.flex-item {
  flex-grow: 1;
}
.flex-item-auto {
  flex-grow: 0;
  flex-shrink: 0;
}

.ag-grid-angular {
   width: 100%;
   min-height: 0;
}