<div class="col-md-12">
      <div class="card my-2">
        <div class="card-header p-1">
          <ul class="nav nav-pills justify-content-left">

            <li class="nav-item">
              <a class="nav-link green-tab" routerLink="facturacion" routerLinkActive="active">
                <span class="material-icons">receipt</span> {{ 'Facturacion' | translate }}
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link green-tab" routerLink="catalogos-sat" routerLinkActive="active">
                  <span class="material-icons">list_alt</span> {{ 'Catalogos SAT' | translate }}
              </a>
            </li>

          </ul>
        </div>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>