<div class="col-md-12">
  <div class="card">
     <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li *ngIf="typeCatalog === 'shoppingDelison'">
            <a class="nav-link green-tab"
              [routerLink]="['cat-fam-sub']"
              routerLinkActive="active"
              (click)="refres(true)"
              >
              <i class="bi bi-list-ul"></i>CAT-FAM-SUB
            </a>
          </li>
          <li class="nav-item" *ngFor="let item of listsections">
            <a
              class="nav-link green-tab"
              [routerLink]="item.sections.toUpperCase()"
              routerLinkActive="active"
              (click)="onSectionSelected(item)"
              (click)="refres(false)">
              <i class="bi bi-list-ul"></i> {{ item.sections }}
            </a>
          </li>
          <li class="nav-item" *ngIf="typeCatalog === 'warehouses'">
            <a class="nav-link green-tab"
              [routerLink]="['cat-fam-sub']"
              routerLinkActive="active"
              (click)="refres(true)">
              <i class="bi bi-diagram-3"></i> CAT-FAM-SUB
            </a>
          </li>
          <!--<li class="nav-item" *ngIf="select == 'WAREHOUSE'">
            <a
              routerLink="MATERIALES2"
              routerLinkActive="active" 
              class="nav-link green-tab">
                <i class="bi bi-list-ul"></i> 
                MATERIALES
            </a>
          </li>-->
        </ul>
        <div class="container-fluid mt-4 mb-4 light-blue-background" *ngIf="cat === false">
          <div class="row">
            <div class="col-md-2">
              <select 
              [ngClass]="['form-control', 'select-side', gridHeight]"
                id="root"
                (change)="onCatalogChange($event)"
                class="form-control select-side"
                [value]="selectedCatalog || ''"
                size="10"
                title="{{ 'select' | translate }} {{ 'list' | translate }} {{
                  ' ' | translate
                }} {{ 'tables' | translate }}"
              >
                >
                <option selected value="" disabled>
                  {{ "Lista Tablas" | translate }}
                </option>
                <option *ngFor="let item of table" [value]="item.name"  (click)="onOptionSelected(item)">
                  {{ item.nameSpanish }}
                </option>
              </select>
            </div>
            
            <div class="col-10">
              <div class="row">
                <div class="col-auto">
                  <div class="d-flex flex-column gap-2 align-items-center">
                    <button type="button" class="btn btn-primary" (click)="addRow()"
                    *ngIf="authService.getCrudPermissionDetail(typeCatalog, 'catalogs','Cat_prin', 'create')">
                      <i class="bi bi-plus-lg"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-success position-relative"
                      (click)="saveChanges()"
                      *ngIf="authService.getCrudPermissionDetail(typeCatalog, 'catalogs','Cat_prin', 'create') || authService.getCrudPermissionDetail(typeCatalog, 'catalogs','Cat_prin', 'update')"
                    >
                      <i class="bi bi-floppy"></i>
                      <span
                        class="position-absolute top-0 end-0 translate-middle p-2 bg-danger border border-light rounded-circle"
                        *ngIf="notSavedChanges"
                      >
                        <span class="visually-hidden">Hay cambios sin guardar</span>
                      </span>
                    </button>
                    <button type="button" class="btn btn-warning" (click)="revert()">
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                  </div>
                </div>
                <div class="col">
                  <ag-grid-angular
                    style="width: 100%"
                    [ngStyle]="{ height: gridHeight }"
                    class="ag-theme-quartz small-text-ag-grid"
                    [rowData]="rowData"
                    [columnDefs]="colMaster"
                    (selectionChanged)="onSelectionChanged($event)"
                    [gridOptions]="gridOptions"
                    (cellValueChanged)="onCellValueChanged($event)"
                    (rowSelected)="onSelectedRow($event)"
                    (gridReady)="onGridReady($event)"
                    (cellDoubleClicked)="onCellDoubleClicked($event)"
                    rowSelection="single"
                    [pivotPanelShow]="pivotPanelShow"
                    [rowSelection]="rowSelection"
                    [stopEditingWhenCellsLoseFocus]="true"
                    [localeText]="AG_GRID_LOCALE_ES"
                  >
                  </ag-grid-angular>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="cat === true">
          <app-cat-fam-sub></app-cat-fam-sub>
        </div>
      </div>
  </div>
</div>
<div *ngIf="idCatalog != null">
  <subCatalogs />
</div>
