<div class="container-fluid mt-4 mb-4 light-blue-background">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group mt-2">
            <label for="notificationChannels">Catalogos en el Proceso:</label>
            <select id="table" name="nametable" class="form-control" (change)="onCatalogChange($event)">
              <option value="CURRENCY">CURRENCY</option>
              <option value="DEPARTAMENT">DEPARTAMENT</option>
              <option value="FAMILY">FAMILY</option>
              <option value="SUBFAMILY">SUBFAMILY</option>
              <option value="MEASURE">MEASURE</option>
              <option value="UBICATION">UBICATION</option>
            </select>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-auto">
              <div class="d-flex flex-column gap-2 align-items-center">
                <button type="button" class="btn btn-primary" (click)="addRow()">
                  <i class="bi bi-plus-lg"></i>
                </button>
                <button type="button" class="btn btn-success position-relative" (click)="saveChanges()">
                  <i class="bi bi-floppy"></i>
                  <span class="position-absolute top-0 end-0 translate-middle p-2 bg-danger border border-light rounded-circle"
                    *ngIf="notSavedChanges">
                    <span class="visually-hidden">Hay cambios sin guardar</span>
                  </span>
                </button>
                <button type="button" class="btn btn-warning" (click)="revert()">
                  <i class="bi bi-arrow-clockwise"></i>
                </button>
              </div>
            </div>
            <div class="col">
              <ag-grid-angular style="width: 100%;" [ngStyle]="{'height': gridHeight}" 
                 class="ag-theme-quartz small-text-ag-grid"
                [rowData]="rowData" 
                [columnDefs]="colMaster" 
                (selectionChanged)="onSelectionChanged($event)"
                [gridOptions]="gridOptions" 
                (cellValueChanged)="onCellValueChanged($event)"
                 (rowSelected)="onSelectedRow($event)"
                (gridReady)="onGridReady($event)" 
                rowSelection="single" 
                [pivotPanelShow]="pivotPanelShow"
                [rowSelection]="rowSelection">
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </div>
    </div>