<div class="col-md-12">
    <div class="card">
       <div class="card-header p-2">
          <ul class="nav nav-pills">

             <li class="nav-item" style="display: none;">
                <a class="nav-link green-tab" routerLink="conventions" routerLinkActive="active"><i
                      class="bi bi-list-ul"></i> {{'convention' | translate}}</a>
             </li>

             <li class="nav-item" style="display: none;">
                <a class="nav-link green-tab" routerLink="advances" routerLinkActive="active"><i
                      class="bi bi-bar-chart-fill"></i> {{'advances' | translate}}</a>
             </li>

             <li class="nav-item" style="display: none;">
                <a class="nav-link green-tab" routerLink="workprograms" routerLinkActive="active"><i
                      class="bi bi-bar-chart-steps"></i> {{ 'program' |
                   translate}}{{ ' ' | translate}}{{ 'work' | translate}}</a>
             </li> 

             <li class="nav-item">
                <a class="nav-link green-tab" routerLink="contracts" routerLinkActive="active"><i
                      class="bi bi-file-earmark-ruled"></i> {{ 'contract' |
                   translate}}</a>
             </li>

             <li class="nav-item">
                <a class="nav-link green-tab" routerLink="ot" routerLinkActive="active"><i
                      class="bi bi-tools"></i> {{ 'work_orders' |
                   translate}}</a>
             </li>

             <li class="nav-item">
                <a class="nav-link green-tab" routerLink="providers" routerLinkActive="active"><i
                      class="bi bi-person-gear"></i> {{ 'providers' |
                   translate}}</a>
             </li>
             <li class="nav-item">
                <a class="nav-link green-tab" routerLink="materials" routerLinkActive="active"><i
                     class="bi bi-houses"></i>{{ 'materials' |
                   translate}}</a>
             </li>
              <li class="nav-item">
                <a class="nav-link green-tab" routerLink="catalogs" routerLinkActive="active"><i
                      class="bi bi-list-ul"></i> {{ 'catalogs' |
                   translate}}</a>
             </li>
             

             <li class="nav-item" style="display: none;">
                <a class="nav-link green-tab" routerLink="projects" routerLinkActive="active"><i
                      class="bi bi-card-checklist"></i> {{ 'projects' |
                   translate}}</a>
             </li>

             <li class="nav-item" style="display: none;">
                <a class="nav-link green-tab" routerLink="oilfields" routerLinkActive="active"><i
                      class="bi bi-droplet-fill"></i> {{ 'oil' | translate}}</a>
             </li>
 
             <li class="nav-item" style="display: none;">
                <a class="nav-link green-tab" routerLink="estimates" routerLinkActive="active"><i
                      class="bi bi-clock-history"></i> {{ 'estimates' |
                   translate}}</a>
             </li>

          </ul>

          <router-outlet></router-outlet>
       </div>

    </div>
 </div>