::ng-deep {
    .custom-select-cell {
      .ag-rich-select-row {
        height: 60px !important; // Ajusta este valor según tus necesidades
      }
      
      .ag-rich-select-list {
        height: auto !important;
        max-height: 300px !important; // Ajusta este valor si es necesario
      }
    }
  }
