<div class="permissions-container">
  <div class="row">
      <!-- Columna de botones -->
      <div class="col-auto">
        <div class="d-flex flex-column gap-1">
          <button type="button" class="btn btn-primary ms-1 me-1 position-relative" (click)="modificar()" >
            <i class="bi bi-pencil"></i>
            
          </button>
          <button type="button" class="btn btn-success ms-1 me-1 position-relative" (click)="saveDetailChanges()">
            <i class="bi bi-floppy"></i>
            <span
              class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
              *ngIf="notSavedChanges">
              <span class="visually-hidden">Hay cambios sin guardar</span>
            </span>
          </button>
          <button type="button" class="btn btn-warning ms-1 me-1"  (click)="revertChanges()">
            <i class="bi bi-arrow-clockwise"></i>
          </button>
        </div>
      </div>
  
  <div class="col">
  <div *ngFor="let master of groupedPermissions" class="master-group">
    <div id="master" class="permission-header master-header ">
      <span class="permission-name">{{ master.masterPermissionName }}</span>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="master.masterRead"  (ngModelChange)="onMasterReadChange(master)">
        <span class="slider round"></span>
      </label>
    </div>

    <!-- Nivel 2: Contenedor para los permisos detallados. Solo se muestra si masterRead es true -->
    <div *ngIf="master.masterRead" class="details-container">
      <div *ngFor="let detail of master.details" class="detail-group">
        <div id="detail" class="permission-header detail-header">
          <span class="permission-name">{{ detail.detailedPermissionName }}</span>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="detail.detailedRead" (ngModelChange)="onDetailedReadChange(detail)">
            <span class="slider round"></span>
          </label>
        </div>

        <!-- Nivel 3: Contenedor para los sub-detalles. Solo se muestra si detailedRead es true -->
        <div *ngIf="detail.detailedRead" class="subdetails-container">
          <div *ngFor="let subdetailGroup of detail.subdetails" class="subdetail-group">            
            <!-- Nivel 3.5: Encabezado para el grupo de subdetalle (ej: "Empleados") -->
            <div id="subdetail" class="permission-header subdetail-header-group">
              <span class="permission-name">{{ subdetailGroup.subdetailedPermissionName }}</span>
            </div>

            <!-- Nivel 4: Renderizar el item "Principal" si existe -->
            <div *ngIf="subdetailGroup.principal" class="crud-item-wrapper">
              <div class="permission-header subdetail-header">
                <span class="permission-name">{{ subdetailGroup.principal.name }}</span>
                <div class="crud-permissions">
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]="subdetailGroup.principal.canRead" (ngModelChange)="onCrudChange(subdetailGroup.principal)">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
              <!-- Permisos CRUD para "Principal" -->
              <div *ngIf="subdetailGroup.principal.canRead" class="crud-permissions-container">
                <label><input type="checkbox" [(ngModel)]="subdetailGroup.principal.canCreate"(ngModelChange)="onCrudChange(subdetailGroup.principal)"> Crear</label>
                <label><input type="checkbox" [(ngModel)]="subdetailGroup.principal.canUpdate"(ngModelChange)="onCrudChange(subdetailGroup.principal)"> Actualizar</label>
                <label><input type="checkbox" [(ngModel)]="subdetailGroup.principal.canDelete"(ngModelChange)="onCrudChange(subdetailGroup.principal)"> Borrar</label>
              </div>
            </div>

            <!-- Nivel 4.5: Contenedor para los hijos, visible solo si 'Principal' tiene canRead=true -->
            <div *ngIf="subdetailGroup.principal && subdetailGroup.principal.canRead" class="children-container">
              <!-- Iterar sobre los items hijos (Ahorros, Prestamos, etc.) -->
              <div  *ngFor="let child of subdetailGroup.children" class="crud-item-wrapper">
                <div id="columns" class="permission-header subdetail-header">
                  <span class="permission-name">{{ child.name }}</span>
                  <div class="crud-permissions">
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]="child.canRead" (ngModelChange)="onCrudChange(child)">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <!-- Permisos CRUD para el hijo -->
                <div *ngIf="child.canRead" class="crud-permissions-container">
                  <label><input type="checkbox" [(ngModel)]="child.canCreate" (ngModelChange)="onCrudChange(child)"> Crear</label>
                  <label><input type="checkbox" [(ngModel)]="child.canUpdate" (ngModelChange)="onCrudChange(child)"> Actualizar</label>
                  <label><input type="checkbox" [(ngModel)]="child.canDelete" (ngModelChange)="onCrudChange(child)"> Borrar</label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>
</div>
</div>
