<div class="container">
    <h2>Imágenes</h2>
    <div class="d-flex align-items-center" *ngIf="isLoading">
      <strong>Cargando datos...</strong>
      <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>
  
    <div class="row" *ngIf="!isLoading">
      <div class="col-lg-2 col-3 text-center" *ngFor="let image of images; let i = index">
        <img [src]="image.src" class="rounded img-thumbnail" [alt]="image.alt"
          (click)="openCarouselModal(carouselModal, i)" />
      </div>
    </div>
  </div>
  
  <ng-template #carouselModal let-modal>
    <div class="modal-body">
      <div #carousel id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button *ngFor="let img of images; let i = index" type="button" data-bs-target="#carouselExampleIndicators"
            [attr.data-bs-slide-to]="i" [class.active]="i === currentIndex" aria-current="true"
            [attr.aria-label]="'Slide ' + (i + 1)"></button>
        </div>
        <div class="carousel-inner">
          <div *ngFor="let img of images; let i = index" class="carousel-item" [class.active]="i === currentIndex">
            <img [src]="img.src" class="d-block w-100" [alt]="img.alt" />
            <div class="carousel-caption d-none d-md-block">
              <p>{{ img.description }}</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </ng-template>