<section class="col-12 mt-3">
  <div class="row">
    <main class="col-12">
      <section class="col">
        <ag-grid-angular
          style="width: 100%"
          class="ag-theme-quartz small-text-ag-grid"
          [ngStyle]="{ height: gridHeight }"
          [rowData]="rowData"
          [columnDefs]="colMaster"
          [gridOptions]="gridOptions"
          (gridReady)="onGridReady($event)"
          (cellClicked)="onCellClicked($event)"
          [stopEditingWhenCellsLoseFocus]="true"
          [localeText]="AG_GRID_LOCALE_ES"
          [components]="components"
        >
        </ag-grid-angular>
      </section>
    </main>
  </div>
</section>
