// Estilos para el page de estimaciones
.nav-pills .nav-link.green-tab {
  color: #28a745;
  border: 1px solid transparent;
  
  &:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  
  &.active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
}

.card-header {
  background-color: #f8f9fa;
}

.nav-pills .nav-item {
  margin-right: 5px;
}

.nav-pills .nav-link i {
  margin-right: 5px;
}