<div class="col-12">
  <div class="row align-items-start">
    <!-- Sección Horas Extra Especiales -->
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-header">
          <h3 class="card-title mb-0">Horas Extra Especiales</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <div class="d-flex flex-column gap-0 me-0">
                <button type="button" class="btn btn-primary" (click)="addRow('Master')">
                  <i class="bi bi-plus-lg"></i>
                </button>
                <button type="button" class="btn btn-success position-relative" (click)="saveMasterChanges()">
                  <i class="bi bi-floppy"></i>
                  <span class="position-absolute top-0 end-0 translate-middle p-2 bg-danger border border-light rounded-circle"
                    *ngIf="masterNotSavedChanges">
                    <span class="visually-hidden">Hay cambios sin guardar</span>
                  </span>
                </button>
                <button type="button" class="btn btn-warning" (click)="revertMasterData()">
                  <i class="bi bi-arrow-clockwise"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteMasterEntry()">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>

            <div class="col p-0">
              <ag-grid-angular 
                class="ag-theme-quartz small-text-ag-grid master-grid" 
                style="height: 60vh;"
                [rowData]="maestroRowData" 
                [columnDefs]="maestroColumnDefs" 
                [defaultColDef]="defaultColDef"
                [gridOptions]="maestroGridOptions"
                (gridReady)="onMaestroGridReady($event)"
                (selectionChanged)="onMaestroSelectionChanged($event)"
                (cellValueChanged)="onMasterCellValueChanged($event)"
                [rowSelection]="'single'"
                [pagination]="true"
                [components]="components"
                [paginationPageSize]="10"
                [stopEditingWhenCellsLoseFocus]="true"
                [localeText]="AG_GRID_LOCALE_ES">
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
