<div class="col-md-12">
   <div class="card">
      <div class="card-header p-2">
         <ul class="nav nav-pills">

            <ng-container *ngFor="let tab of tabMenus">
              <li class="nav-item"
                  *ngIf="tab.principalSubIdentifier
                    ? authService.hasSubDetailedPermission(tab.masterIdentifier, tab.identifier, tab.principalSubIdentifier)
                    : authService.hasDetailedPermission(tab.masterIdentifier, tab.identifier)">
                <a class="nav-link green-tab" [routerLink]="tab.route" routerLinkActive="active">
                  <i [class]="tab.icon"></i> {{ tab.permissionName }}
                </a>
              </li>
            </ng-container>

         </ul>

         <router-outlet></router-outlet>
      </div>

   </div>
</div>
