<div class="col-md-12">
      <div class="card">
         <div class="card-header p-2">
            <ul class="nav nav-pills">
   
<!--                <li class="nav-item">
                  <a class="nav-link green-tab" routerLink="setup" routerLinkActive="active"><i
                        class="bi bi-list-ul"></i> {{'setting' | translate}}</a>
               </li> -->

                  
               <li class="nav-item">
                  <a class="nav-link green-tab" routerLink="employees" routerLinkActive="active"><i
                        class="bi bi-list-ul"></i> {{'employees' | translate}}</a>
               </li>
               <li class="nav-item ">
                  <a class="nav-link green-tab" routerLink="payroll" routerLinkActive="active"><i class="bi bi-cash-coin"></i>
                     Nómina</a>
               </li>
               <li class="nav-item ">
                  <a class="nav-link green-tab" routerLink="clock" routerLinkActive="active"><i class="bi bi-stopwatch"></i>
                     Checador</a>
               </li>
               
               <li class="nav-item">
                  <a class="nav-link green-tab" routerLink="catalogs" routerLinkActive="active"><i
                      class="bi bi-list-ul"></i> {{'catalogs' | translate}}</a>
               </li>
               <li class="nav-item ">
                  <a class="nav-link green-tab" routerLink="setup" routerLinkActive="active"><i class="bi bi-gear"></i>
                     Configuración</a>
               </li>
 
   
<!--                <li class="nav-item">
                  <a class="nav-link green-tab" routerLink="clock" routerLinkActive="active"><i class="bi bi-alarm"></i> Checador</a>
               </li>      -->
                 
            </ul>
   
            <router-outlet></router-outlet>
         </div>
   
      </div>
   </div>