<button type="button" (click)="crearPdf()" class="btn btn-primary d-flex align-items-center"
  [disabled]="isGeneratingPdf">
  <ng-container *ngIf="!isGeneratingPdf; else generatingTemplate">
    <i class="bi bi-file-earmark-pdf me-2" style="font-size: 0.8rem;"></i>
    <span style="font-size: 0.8rem;">Generar PDF</span>
  </ng-container>
  <ng-template #generatingTemplate>
    <span class="spinner-border" style="width: 1rem; height: 1rem;" role="status" aria-hidden="true"></span> 
    <span style="font-size: 0.8rem;">Generando...</span>
  </ng-template>
</button>