<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="clientes" routerLinkActive="active">
            <i class="bi bi-people-fill"></i><span>{{ 'customer' | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="productos" routerLinkActive="active">
            <i class="bi bi-box-seam"></i><span>{{ 'product' | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="pedidos" routerLinkActive="active">
            <i class="bi bi-cart-fill"></i><span>{{ 'order' | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="remisiones" routerLinkActive="active">
            <i class="bi bi-truck"></i><span>Remisiones</span>
          </a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
