<div class="mt-2 light-blue-background">
    <div class="flex items-center gap-4">
        <form [formGroup]="selectFechas" (ngSubmit)="Consultar()">
          <span class="">Fecha inicial</span>
          <input formControlName="fechaInicio" type="date" [max]="fechaFin" class="bg-white rounded border-light p-1 w-auto ml-2" />

          <span class=" ml-4">Fecha final</span>
          <input formControlName="fechaFin" type="date" [min]="fechaInicio" class="bg-white rounded border-light p-1 w-auto ml-2" />
          <button type="submit" class="ml-4 btn btn-success position-relative" >
            Consultar
          </button>
        </form>
    </div>
    <!-- Columna de botones -->
     <div class="col-12">
        <div class="row mt-4">
            <div class="col-auto">
                <div class="d-flex flex-column gap-1">
                  <button type="button" class="btn btn-primary ms-1 me-1 position-relative" (click)="addRow()">
                    <i class="bi bi-plus-lg"></i>
                  </button>
                  <button type="button" class="btn btn-success ms-1 me-1 position-relative" (click)="saveChanges()">
                    <i class="bi bi-floppy"></i>
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                      *ngIf="notSavedChanges">
                      <span class="visually-hidden">Hay cambios sin guardar</span>
                    </span>
                  </button>

                    <button type="button" class="btn btn-warning ms-1 me-1" (click)="revert()">
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                    <button type="button" class="btn btn-danger ms-1 me-1" (click)="deleteEntry()">
                      <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>

            <!-- Columna de la tabla -->
            <div class="col">
                <ag-grid-angular style="width: 100%;"
                [ngStyle]="{'height': gridHeight}"
                class="ag-theme-quartz small-text-ag-grid"
                  [rowData]="rowData"
                  [columnDefs]="colMaster"
                  (selectionChanged)="onSelectionChanged($event)"
                  [gridOptions]="gridOptions"
                  (cellValueChanged)="onCellValueChanged($event)"
                  (rowSelected)="onSelectedRow($event)"
                  (gridReady)="onGridReady($event)"
                  [pagination]="false"
                  (cellDoubleClicked)="onCellDoubleClicked($event)"
                  [components]="components" 
                  [stopEditingWhenCellsLoseFocus]="true">
                </ag-grid-angular>
            </div>
        </div>
     </div>
</div>


<!--
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header flex-column align-items-center">
          <form [formGroup]="bonusForm" (ngSubmit)="guardarBonus()">
            <div class="modal-header flex-column align-items-center">
              <h5 class="mb-3 w-100 text-center fs-4">
                <strong>Empleado:</strong> {{ nameEmployee }}
              </h5>

              <div class="mb-3 w-100">
                <strong>Bonus actual:</strong> {{ bonoEmployee }}
              </div>
              <div class="mb-3 w-100">
                <strong class="me-2">Fecha de asignación</strong>
                <input formControlName="fechaSelect"  type="date" class="bg-white rounded border-light p-1 w-auto" required/>
              </div>


              <div class="mb-2 w-100">
                <label for="miSelect" class="form-label">Motivo del bonus:</label>
                <select id="miSelect" name="miSelect" class="form-select" formControlName="motivo" required>
                    <option value="" disabled>-- Selecciona una opción --</option>
                    <option *ngFor="let bonus of bonusCatalogos" [ngValue]="bonus">
                      {{ bonus.description }}  - Monto: {{ bonus.valueAddition }}
                    </option>
                  </select>

              </div>
              <div class="mb-3 w-100">
                <label for="bonusInput" class="form-label"><strong>Actualizar bonus:</strong></label>
                <input type="number" id="bonusInput" class="form-control" formControlName="nuevoBonus" placeholder="Ingresa el nuevo bonus" />
              </div>
              <div class="w-100 d-flex justify-content-center gap-2 mt-3">
                <button type="submit" class="btn btn-success position-relative" [disabled]="bonusForm.invalid">
                  <i class="bi bi-floppy"></i> Guardar
                </button>

                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                  <i class="bi bi-x-circle"></i> Cerrar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>-->
