<div class="mt-2 light-blue-background">
    <div class="flex items-center gap-4">
        <form [formGroup]="selectFechas">
          <span class="">Fecha inicial</span>
          <input formControlName="fechaInicio" type="date" [max]="fechaFin" class="bg-white rounded border-light p-1 w-auto ml-2" />

          <span class=" ml-4">Fecha final</span>
          <input formControlName="fechaFin" type="date" [min]="fechaInicio" class="bg-white rounded border-light p-1 w-auto ml-2" />
          <!--<button type="submit" class="ml-4 btn btn-success position-relative" >
            Consultar
          </button> -->
        </form>
    </div>
    <!-- Columna de botones -->
     <div class="col-12">
        <div class="row mt-4">
            <div class="col-auto">
                <div class="d-flex flex-column gap-1">
                  <button type="button" class="btn btn-primary ms-1 me-1 position-relative" (click)="addRow()" *ngIf="authService.getCrudPermissionDetail('hr', 'payroll','BonHis_prin' ,'create')">
                    <i class="bi bi-plus-lg"></i>
                  </button>
                  <button type="button" class="btn btn-success ms-1 me-1 position-relative" (click)="saveChanges()" *ngIf="authService.getCrudPermissionDetail('hr', 'payroll','BonHis_prin' ,'create') || authService.getCrudPermissionDetail('hr', 'payroll','BonHis_prin' ,'update')" >
                    <i class="bi bi-floppy"></i>
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                      *ngIf="notSavedChanges">
                      <span class="visually-hidden">Hay cambios sin guardar</span>
                    </span>
                  </button>

                    <button type="button" class="btn btn-warning ms-1 me-1" (click)="revert()">
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                    <button type="button" class="btn btn-danger ms-1 me-1" (click)="deleteEntry()" *ngIf="authService.getCrudPermissionDetail('hr', 'payroll','BonHis_prin' ,'delete')">
                      <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>

            <!-- Columna de la tabla -->
            <div class="col">
                <ag-grid-angular style="width: 100%;"
                [ngStyle]="{'height': gridHeight}"
                class="ag-theme-quartz small-text-ag-grid"
                  [rowData]="rowData"
                  [columnDefs]="colMaster"
                  (selectionChanged)="onSelectionChanged($event)"
                  [gridOptions]="gridOptions"
                  (cellValueChanged)="onCellValueChanged($event)"
                  (rowSelected)="onSelectedRow($event)"
                  (gridReady)="onGridReady($event)"
                  [pagination]="false"
                  (cellDoubleClicked)="onCellDoubleClicked($event)"
                  [components]="components"
                  [stopEditingWhenCellsLoseFocus]="true"
                  [localeText]="AG_GRID_LOCALE_ES">
                </ag-grid-angular>
            </div>
        </div>
     </div>
</div>


