<div class="card">
  <div class="card-header px-2">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link green-tab d-flex align-items-center"
          routerLink="dasing-pal"
          routerLinkActive="active"
        >
          <mat-icon>trending_up</mat-icon> Ingresos
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link green-tab d-flex align-items-center"
          routerLink="dashegr-pal"
          routerLinkActive="active"
        >
          <mat-icon>trending_down</mat-icon> Egresos
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link green-tab d-flex align-items-center"
          routerLink="dastot-pal"
          routerLinkActive="active"
        >
          <mat-icon>account_balance</mat-icon> Total
        </a>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>
</div>
