<div class="col-md-12">
  <div class="card">
     <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link green-tab" routerLink="employees" routerLinkActive="active"><i
              class="bi bi-list-ul"></i>Empleados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link green-tab" routerLink="clock" routerLinkActive="active"><i 
                class="bi bi-stopwatch"></i>Checador2</a>
              </li>
           <li class="nav-item">
              <a class="nav-link green-tab" routerLink="payroll" routerLinkActive="active"><i 
                class="bi bi-cash-coin"></i>Nómina</a>
           </li>
        </ul><router-outlet></router-outlet>
     </div>

  </div>
</div>






<!--<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#roots">Empresa</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#branches">Sucursal</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#catalog">Catalogos</a>
  </li>


</ul>

<div class="tab-content">
  <div id="roots" class="tab-pane fade show active light-blue-background">
    <app-setup-root></app-setup-root>
  </div>
  <div id="branches" class="tab-pane fade light-blue-background">
    <app-setup-employees></app-setup-employees>
  </div>

  <div id="catalog" class="tab-pane fade">
    <app-catalogs></app-catalogs>
</div>

</div>-->
