<ag-grid-angular
  [ngStyle]="{ height: gridHeight() }"
  class="ag-theme-quartz small-text-ag-grid"
  [rowData]="rowData()"
  [columnDefs]="colMaster"
  (selectionChanged)="onSelectionChanged($event)"
  [gridOptions]="gridOptions"
  (cellValueChanged)="onCellValueChanged($event)"
  (rowSelected)="onSelectedRow($event)"
  (gridReady)="onGridReady($event)"
  rowSelection="single"
  [pivotPanelShow]="pivotPanelShow"
  [rowSelection]="rowSelection"
  [stopEditingWhenCellsLoseFocus]="true"
  [localeText]="AG_GRID_LOCALE_ES"
>
</ag-grid-angular>
