<div class="col-12">
  <div class="row">
    <div class="col-auto mt-3">
      <div class="d-flex flex-column gap-2 me-0">
        <button type="button" class="btn btn-warning" (click)="refreshData()">
          <i class="bi bi-arrow-clockwise"></i>
        </button>
        <button
          type="button"
          class="btn btn-danger disabled"
          (click)="deleteEntry()"
        >
          <i class="bi bi-trash"></i>
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="resetGridSize()"
        >
          <i class="bi bi-arrows-fullscreen"></i>
        </button>
      </div>
    </div>
    <div class="col mt-3">
      <digital-payroll-details-table
        [rowData]="rowData"
        (showPayrollDetailTab)="setShowPayrollDetails($event)"
        (employeeData)="setEmployeeData($event)"
        [gridHeight]="gridHeight()"
      />
    </div>
  </div>

  @if (showPayrollDetailTab()) {
  <div class="row">
    <div class="col-12">
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="detailpayroll"
          role="tabpanel"
          aria-labelledby="detailpayroll-tab"
        >
          <app-show-employees-table [rowDataResponse]="employeeData() ?? []" />
        </div>
      </div>
    </div>
  </div>
  }
</div>
