<div class="col-md-12">
    <div class="card">
       <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link green-tab" routerLink="history-clock" routerLinkActive="active"><i
                      class="bi bi-clock-history"></i>
                   Histórico Checador</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link green-tab" routerLink="detail-clock" routerLinkActive="active"><i class="bi bi-bar-chart-steps"></i>
                 Detalles</a>
              </li>
              <li class="nav-item">
               <a class="nav-link green-tab" routerLink="detail-clock-2" routerLinkActive="active"><i class="bi bi-bar-chart-steps"></i>
               Detalles2</a>
            </li>
              <li class="nav-item">
                <a class="nav-link green-tab" routerLink="master-clock" routerLinkActive="active"><i class="bi bi-stopwatch"></i>
                Maestro Checador</a>
             </li>
          </ul>
  
          <router-outlet></router-outlet>
       </div>
  
    </div>
  </div>
