.detail-grid-container {
  padding: 16px;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-bottom: 24px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 0.75rem;
  line-height: 1.5;
}

.btn-xs i {
  font-size: 0.75rem;
}

.detail-grid {
  min-height: 1200px;
  height: 1200px;
  width: 100%;
}

.unsaved-indicator {
  width: 8px;
  height: 8px;
}
