::ng-deep .ag-theme-quartz .detail-new-row {
  background-color: #f48fb1 !important; /* Rosa más fuerte */
}

::ng-deep .ag-theme-quartz .detail-modified-row {
  background-color: #f8bbd0 !important; /* Rosa medio */
}

::ng-deep .ag-theme-quartz .detail-purchase-row {
  background-color: #fce4ec !important; /* Rosa claro */
}