<div class="container-fluid mt-3 quote-delison-page">
  <div class="card quote-delison-card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title mb-0">Cotizaciones</h5>
 
    </div>
   
    <div class="card-body quote-delison-card-body">
      <ag-grid-angular
        class="ag-theme-quartz small-text-ag-grid quote-delison-grid"
        [style.height.px]="gridHeightPx"
        [columnDefs]="colMaster"
        [rowData]="rowData"
        [gridOptions]="gridOptions"
        [localeText]="AG_GRID_LOCALE_ES"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>