<div class="container-fluid">
      <div class="row">
          <div class="col-12">
  
              <ul class="nav nav-pills">
  
                  <li class="nav-item">
                      <a class="nav-link green-tab" routerLink="dashboard" routerLinkActive="active"><i
                              class="bi bi-card-checklist"></i> Pemex</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link green-tab" routerLink="alternatives" routerLinkActive="active"><i
                              class="bi bi-clipboard-check-fill"></i>
                          Pemex 2</a>
                  </li>  
              </ul>
  
              <router-outlet></router-outlet>
          </div>
      </div>
</div>