<div class="rc-card card">
  <div class="card-header px-2 d-flex align-items-center">
    <ul class="nav nav-pills flex-grow-1">
      <li class="nav-item" *ngIf="authService.hasDetailedPermission('red', 'procesos')">
        <a class="nav-link green-tab d-flex align-items-center" routerLink="procesos" routerLinkActive="active">
          <mat-icon>settings</mat-icon> Procesos
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.hasDetailedPermission('red', 'reportes')">
        <a class="nav-link green-tab d-flex align-items-center" routerLink="reportes" routerLinkActive="active">
          <mat-icon>bar_chart</mat-icon> Reportes
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.hasDetailedPermission('red', 'registros')">
        <a class="nav-link green-tab d-flex align-items-center" routerLink="registros" routerLinkActive="active">
          <mat-icon>list_alt</mat-icon> Registros
        </a>
      </li>
    </ul>
    <a class="btn btn-sm btn-outline-secondary d-flex align-items-center gap-1" routerLink="/home">
      <mat-icon style="font-size:18px">home</mat-icon>
    </a>
  </div>

  <div class="rc-content">
    <router-outlet></router-outlet>
  </div>
</div>
