<div class="rc-card card">
  <div class="card-header px-2">
    <ul class="nav nav-pills">
      <li class="nav-item" *ngIf="authService.hasDetailedPermission('red', 'procesos')">
        <a class="nav-link green-tab d-flex align-items-center" routerLink="procesos" routerLinkActive="active">
          <mat-icon>settings</mat-icon> Procesos
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.hasDetailedPermission('red', 'reportes')">
        <a class="nav-link green-tab d-flex align-items-center" routerLink="reportes" routerLinkActive="active">
          <mat-icon>bar_chart</mat-icon> Reportes
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.hasDetailedPermission('red', 'registros')">
        <a class="nav-link green-tab d-flex align-items-center" routerLink="registros" routerLinkActive="active">
          <mat-icon>list_alt</mat-icon> Registros
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link green-tab d-flex align-items-center" routerLink="reporte-falla" routerLinkActive="active">
          <mat-icon>report_problem</mat-icon> Reporte Falla
        </a>
      </li>
    </ul>
  </div>

  <div class="rc-content">
    <router-outlet></router-outlet>
  </div>
</div>
