<div class="col-md-12">
  <div class="card">
    <div class="card-header px-2">
      <ul class="nav nav-pills">
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('red', 'procesos')">
          <a class="nav-link green-tab" routerLink="procesos" routerLinkActive="active">
            <mat-icon>settings</mat-icon><span>Procesos</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('red', 'reportes')">
          <a class="nav-link green-tab" routerLink="reportes" routerLinkActive="active">
            <mat-icon>bar_chart</mat-icon><span>Reportes</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('red', 'registros')">
          <a class="nav-link green-tab" routerLink="registros" routerLinkActive="active">
            <mat-icon>list_alt</mat-icon><span>Registros</span>
          </a>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
