<div class="col-md-12">
   <div class="card">
      <div class="card-header p-2">
         <ul class="nav nav-pills">

            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'prospectos')">
               <a class="nav-link green-tab" routerLink="crm-dashboard" routerLinkActive="active">
                 <i class="bi bi-speedometer2"></i> Dashboard</a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'setup')">
               <a class="nav-link green-tab" routerLink="setup-sales" routerLinkActive="active"><i
                     class="bi bi-list-ul"></i> {{'setting' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'stores')">
               <a class="nav-link green-tab" routerLink="stores" routerLinkActive="active"><i class="bi bi-shop"></i>
                  {{'stores' | translate}} </a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'cash-register')">
               <a class="nav-link green-tab" routerLink="cash-register" routerLinkActive="active"><i
                     class="bi bi-pc-display-horizontal"></i> {{'cash_register' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'pos')">
               <a class="nav-link green-tab" routerLink="before-pos" routerLinkActive="active">
                  <i class="bi bi-cart"></i> {{'point_of_sale' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'mesas')">
               <a class="nav-link green-tab" routerLink="restaurant-mesas" routerLinkActive="active">
                  <i class="bi bi-house-door"></i> Gestión de Mesas</a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'closebox')">
               <a class="nav-link green-tab" routerLink="cash-closing" routerLinkActive="active">
                  <i class="bi bi-calculator"></i> Corte de Caja</a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'returns')">
               <a class="nav-link green-tab" routerLink="returns" routerLinkActive="active"><i
                     class="bi bi-receipt-cutoff"></i> {{'returns' | translate}} {{'and' | translate}}
                  {{'ticket_reimpression' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'entrances')">
               <a class="nav-link green-tab" routerLink="entrances" routerLinkActive="active"><i
                     class="bi bi-arrow-down-left"></i> {{'entrances' | translate}} </a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'inventory')">
               <a class="nav-link green-tab" routerLink="inventory2" routerLinkActive="active"><i
                     class="bi bi-list-check"></i> {{'inventory' | translate}} </a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'products')">
               <a class="nav-link green-tab" routerLink="products" routerLinkActive="active">
                 <i class="bi bi-box-seam-fill"></i> Productos/Servicios</a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'reports')">
               <a class="nav-link green-tab" routerLink="reports" routerLinkActive="active"><i
                     class="bi bi-graph-up"></i> {{'sales_reports' | translate}} </a>
            </li>

            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'out-pos')">
               <a class="nav-link green-tab" routerLink="out-pos" routerLinkActive="active"><i
                     class="bi bi-journal-check"></i> {{'out_pos' | translate}} </a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'prospectos')">
               <a class="nav-link green-tab" routerLink="prospectos" routerLinkActive="active">
                 <i class="bi bi-people-fill"></i> Prospectos
               </a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'prospectos')">
               <a class="nav-link green-tab" routerLink="mis-tareas" routerLinkActive="active">
                 <i class="bi bi-check2-square"></i> Mis Tareas
               </a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'cotizaciones')">
               <a class="nav-link green-tab" routerLink="cotizaciones" routerLinkActive="active">
                 <i class="bi bi-file-earmark-text-fill"></i> Cotizaciones
               </a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'cursos')">
               <a class="nav-link green-tab" routerLink="cursos" routerLinkActive="active">
                 <i class="bi bi-mortarboard-fill"></i> Cursos
               </a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'demos')">
               <a class="nav-link green-tab" routerLink="demos" routerLinkActive="active">
                 <i class="bi bi-laptop"></i> Demos
               </a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'loyalty')">
               <a class="nav-link green-tab" routerLink="loyalty" routerLinkActive="active">
                 <i class="bi bi-award-fill"></i> Lealtad
               </a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'egresos')">
               <a class="nav-link green-tab" routerLink="egresos" routerLinkActive="active">
                 <i class="bi bi-arrow-up-right-circle"></i> Egresos
               </a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('sales', 'fam-subfam')">
               <a class="nav-link green-tab" routerLink="fam-subfam" routerLinkActive="active">
                 <i class="bi bi-diagram-3"></i> Familias y Subfamilias
               </a>
            </li>
         </ul>


<div class="procsales-outlet">
           <router-outlet></router-outlet>
         </div>
      </div>

   </div>
</div>
