<!-- dashboard-host.component.html -->
<div class="host-container">
  <!-- Navegación por pestañas -->
  <div class="host-tabs-nav">
    <button [class.active]="activeTab === 'ventas'" (click)="setActiveTab('ventas')">
      Ventas
    </button>
    <button [class.active]="activeTab === 'egresos'" (click)="setActiveTab('egresos')">
      Egresos
    </button>
    <button [class.active]="activeTab === 'totalizados'" (click)="setActiveTab('totalizados')">
      Totalizados
    </button>
  </div>

  <!-- Contenido dinámico de la pestaña -->
  <div class="host-tab-content">
    <ng-container [ngSwitch]="activeTab">
      <app-salesdashboard *ngSwitchCase="'ventas'"></app-salesdashboard>
      <app-expensedashboard *ngSwitchCase="'egresos'"></app-expensedashboard>
      <app-summarydashboard *ngSwitchCase="'totalizados'"></app-summarydashboard>
    </ng-container>
  </div>
</div>