

<div class="container-fluid">
    <div class="row">
      <div class="col-12">
  
          <ul class="nav nav-pills">
              <li class="nav-item ">
                  <a class="nav-link green-tab" routerLink="procdash1" routerLinkActive="active"> DashBoard 1</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link green-tab" routerLink="procdash2" routerLinkActive="active">DashBoard 2</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link green-tab" routerLink="procdash3" routerLinkActive="active">DashBoard 3</a>
              </li>
              <li class="nav-item">
                  
          </ul>
  
          <router-outlet></router-outlet>
      </div>
    </div>
</div>