

<div class="container-fluid">
    <div class="row">
      <div class="col-12">
  
          <ul class="nav nav-pills">
              <li class="nav-item">
                  <a class="nav-link green-tab" routerLink="procdash1" routerLinkActive="active">
                    <i class="bi bi-bar-chart-fill"></i><span>Dashboard 1</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link green-tab" routerLink="procdash2" routerLinkActive="active">
                    <i class="bi bi-pie-chart-fill"></i><span>Dashboard 2</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link green-tab" routerLink="procdash3" routerLinkActive="active">
                    <i class="bi bi-graph-up-arrow"></i><span>Dashboard 3</span>
                  </a>
              </li>
          </ul>
  
          <router-outlet></router-outlet>
      </div>
    </div>
</div>