.crud-container {
  display: flex;
  height: calc(100vh - 150px); /* Ajusta esta altura según tu layout general */
}

.left-panel {
  width: 200px;
  padding: 1rem;
  border-right: 1px solid #dee2e6;
}

.right-panel {
  flex-grow: 1;
  padding: 1rem;
}