<ag-grid-angular style="width: 100%; height: 500px" class="ag-theme-quartz small-text-ag-grid master-grid" [rowData]="data" [columnDefs]="columnDefs"
    (rowDoubleClicked)="onRowDoubleClicked($event)" [gridOptions]="gridOptions" [stopEditingWhenCellsLoseFocus]="true">
</ag-grid-angular>

<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">
                    Incidentes del empleado {{ idEmployee }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="incidents" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="byWeek-tab" data-bs-toggle="tab" data-bs-target="#byWeek"
                            type="button" role="tab" aria-controls="byWeek" aria-selected="true">
                            Semana elegida
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="byFortnight-tab" data-bs-toggle="tab" data-bs-target="#byFortnight"
                            type="button" role="tab" aria-controls="byFortnight" aria-selected="false">
                            Personalizado
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="incidentsContent">
                    <div class="tab-pane fade show active" id="byWeek" role="tabpanel" aria-labelledby="byWeek-tab"
                        tabindex="0">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-6">Horas laboradas:</div>
                                    <div class="col-6" id="horasLaboradas">
                                        {{ weekData.Hours }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6">Faltas:</div>
                                    <div id="faltas" [ngClass]="
                      weekData.Absences > 0 ? 'col-6 text-danger' : 'col-6'
                    " style="font-weight: bold; font-size: 1.5em">
                                        {{ weekData.Absences }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6">Salidas Pendientes:</div>
                                    <div id="salidasPendientes" [ngClass]="
                      weekData.PendingOuts > 0 ? 'col-6 text-danger' : 'col-6'
                    " style="font-weight: bold; font-size: 1.5em">
                                        {{ weekData.PendingOuts }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6">Retardos:</div>
                                    <div id="retardos" [ngClass]="
                      weekData.Delays > 0 ? 'col-6 text-danger' : 'col-6'
                    " style="font-weight: bold; font-size: 1.5em">
                                        {{ weekData.Delays }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="byFortnight" role="tabpanel" aria-labelledby="byFortnight-tab"
                        tabindex="0">
                        <div class="card">
                            <div class="card-body">
                                <!-- Formulario para fechas personalizadas -->
                                <form (ngSubmit)="onCustomSearch()">
                                    <div class="mb-3">
                                        <label for="startDate" class="form-label">Fecha Inicio</label>
                                        <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate" name="startDate" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="endDate" class="form-label">Fecha Fin</label>
                                        <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate" name="endDate" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </form>

                                <!-- Resultados de la búsqueda personalizada -->
                                <div class="row mb-2">
                                    <div class="col-6">Horas laboradas:</div>
                                    <div class="col-6" id="horasLaboradas">
                                        {{ customData.Hours }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6">Faltas:</div>
                                    <div id="faltas" [ngClass]="customData.Absences > 0 ? 'col-6 text-danger' : 'col-6'" style="font-weight: bold; font-size: 1.5em">
                                        {{ customData.Absences }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6">Salidas Pendientes:</div>
                                    <div id="salidasPendientes" [ngClass]="customData.PendingOuts > 0 ? 'col-6 text-danger' : 'col-6'" style="font-weight: bold; font-size: 1.5em">
                                        {{ customData.PendingOuts }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6">Retardos:</div>
                                    <div id="retardos" [ngClass]="customData.Delays > 0 ? 'col-6 text-danger' : 'col-6'" style="font-weight: bold; font-size: 1.5em">
                                        {{ customData.Delays }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>