<div class="container-fluid">
      <div class="row">
        <div class="col-12">
    
            <ul class="nav nav-pills">
                
                <li class="nav-item">
                    <a class="nav-link green-tab" routerLink="issues" routerLinkActive="active">Matriz ISSUES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link green-tab" routerLink="alternatives" routerLinkActive="active">Alternativas Solucion</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link green-tab" routerLink="controlchange" routerLinkActive="active">Control Cambios</a>
                </li>  
                
                <li class="nav-item">
                    <a class="nav-link green-tab" routerLink="riskmatrix" routerLinkActive="active">Matriz Riesgos</a>
                </li> 
                                
                <li class="nav-item">
                    <a class="nav-link green-tab" routerLink="timeinactives" routerLinkActive="active">Tiempos Inactivos</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link green-tab" routerLink="stakeholders" routerLinkActive="active">Relaciones Stakeholders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link green-tab"  routerLink="conventions" routerLinkActive="active">{{'convention' | translate}}</a>  
                  </li>

                  <li class="nav-item">
                    <a class="nav-link green-tab"  routerLink="controlchanges" routerLinkActive="active">{{'controlchanges' | translate}}</a>  
                  </li>
            </ul>
    
            <router-outlet></router-outlet>
    
      </div>
</div>

