<div class="container-fluid">
      <div class="row">
        <div class="col-12">
    
            <ul class="nav nav-pills">
                <li class="nav-item ">
                    <a class="nav-link green-tab"  routerLink="convenios" routerLinkActive="active">Convenios</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link green-tab" routerLink="avances" routerLinkActive="active">Avances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link green-tab" routerLink="timeinactives" routerLinkActive="active">Tiempos Inactivops</a>
                </li>
                <li class="nav-item">
                    
            </ul>
    
            <router-outlet></router-outlet>
    
      </div>
</div>