<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-oc-tab" data-bs-toggle="tab" data-bs-target="#oc-main" type="button" role="tab" aria-controls="oc-main" aria-selected="true">Requisiciones</button>
      <button *ngIf="idRequisition() != null" class="nav-link" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#oc-details" type="button" role="tab" aria-controls="oc-details" aria-selected="false">Detalles</button>
    </div>
  </nav>
  
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="oc-main" role="tabpanel" aria-labelledby="nav-oc-tab">
      <app-oc-main></app-oc-main>
    </div>
    <div class="tab-pane fade" id="oc-details" role="tabpanel" aria-labelledby="nav-details-tab">
      <app-oc-details></app-oc-details>
    </div>
  </div>
  
  