<div class="col-md-12">
  <div class="card mt-3">
    <div class="card-header p-2">
      <!-- Navegación de segundo nivel -->
      <ul class="nav nav-pills nav-level-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="proveedores" routerLinkActive="active">
            <i class="bi bi-people-fill"></i> Proveedores
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="requisiciones" routerLinkActive="active">
            <i class="bi bi-list-task"></i> Requisiciones
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="ordenes-compra" routerLinkActive="active">
            <i class="bi bi-cart-fill"></i> Ordenes Compra
          </a>
        </li>
      </ul>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
