<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#fam-sub">Familia / Subfamilia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#autorizacion-montos">Autorización de Montos</a>
    </li>
</ul>

<div class="tab-content">

  <div id="fam-sub" class="tab-pane fade show active">
    <app-family-sub-family />
  </div>

  <div id="autorizacion-montos" class="tab-pane fade">
    <app-autorizacion-montos />
  </div>

</div>