<ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#setup">Setup</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#catalog">Catalogos</a>
    </li>

</ul>

  <div class="tab-content">

    <div id="setup" class="tab-pane fade show active">
       <app-setupwarehouse></app-setupwarehouse>
    </div>

    <div id="catalog" class="tab-pane fade">
       <app-catalogs></app-catalogs>
   </div>

  </div>



