<div class="container-fluid">
      <div class="row">
        <div class="col-12">
    
            <ul class="nav nav-pills">
                <li class="nav-item ">
                    <a class="nav-link green-tab" routerLink="indicad01" routerLinkActive="active"> Indicadores 1</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link green-tab" routerLink="indicad02" routerLinkActive="active">Indicadores 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link green-tab" routerLink="indicad03" routerLinkActive="active">Indicadores 3</a>
                </li>
                <li class="nav-item">
                    
            </ul>
    
            <router-outlet></router-outlet>
        </div>
      </div>
</div>