<div class="col-12 py-3">
    <div class="row mb-3">
        <div class="col-md-6 ">
            Seleccione Tienda
            <ng-select [items]="dbStore" bindLabel="location" bindValue="id"
                placeholder="Buscar ubicación..." (change)="onLocationSelect($event)" [searchable]="true"
                id="locationSelect" [(ngModel)]="idLocation">
            </ng-select>
        </div>
        <div class="col-md-6">
            Seleccione Caja
            <ng-select [items]="cajasDisponibles" bindLabel="NoCaja" bindValue="idCaja"
                placeholder="Seleccionar caja..." (change)="onBoxSelect($event)" [searchable]="true"
                id="boxSelect" [(ngModel)]="idCajaSeleccionada"
                [disabled]="!selectedLocation">
            </ng-select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <button class="btn btn-success w-100" (click)="onPuntoVenta()">Seleccionar</button>
        </div>
        <div class="col-md-6 mb-md-2">
            <button class="btn btn-danger w-100">Cancelar</button>
        </div>
    </div>
</div>