.row {
    height: 100vh;
}
// .col-40 {
//     background-color: #99ff99;
// }
// .col-45 {
//     background-color: #9999ff;
// }

.formulario-personalizado {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 15px;
}

.formulario-personalizado .form-label {
    font-weight: bold;
    color: #495057;
}

.formulario-personalizado .form-select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formulario-personalizado .form-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.card-title {
    color: #5a5c69;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2;
}

.position-relative {
    position: relative;
}

.vertical-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    border-left: 1px solid #ccc; // Color del divisor
    transform: translateX(-50%);
}