<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="proveedores" routerLinkActive="active">
            <i class="bi bi-people-fill"></i> Proveedores
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="materia-prima" routerLinkActive="active">
            <i class="bi bi-boxes"></i> Materia Prima
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="requisiciones" routerLinkActive="active">
            <i class="bi bi-list-task"></i> Requisiciones
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="ordenes-compra" routerLinkActive="active">
            <i class="bi bi-cart-fill"></i> Ordenes Compra
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="catalogo" routerLinkActive="active">
            <i class="bi bi-journal-text"></i> Catálogo
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="configuracion" routerLinkActive="active">
            <i class="bi bi-gear-fill"></i> Configuración
          </a>
        </li>
      </ul>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>