<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="materia-prima" routerLinkActive="active">
            <i class="bi bi-boxes"></i><span>Materia Prima</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="producto-terminado" routerLinkActive="active">
            <i class="bi bi-box-seam"></i><span>Prod. Terminados</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="catalogo" routerLinkActive="active">
            <i class="bi bi-journal-text"></i><span>Catálogo</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="configuracion" routerLinkActive="active">
            <i class="bi bi-gear-fill"></i><span>Config</span>
          </a>
        </li>
      </ul>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>