<app-multi-line-editor></app-multi-line-editor>
<div class="row mt-3">
  <div class="col-auto">
    <div class="d-flex flex-column gap-2">
      <button type="button" class="btn btn-warning" (click)="revert()">
        <i class="bi bi-arrow-clockwise"></i>
      </button>
    </div>
  </div>
  
  <div class="col">
    <ag-grid-angular 
      style="width: 100%; height: 40vh;" 
      class="ag-theme-quartz small-text-ag-grid"
      [rowData]="rowData"
      [columnDefs]="colMaster" 
      (selectionChanged)="onSelectionChanged($event)"
      (cellValueChanged)="onCellValueChanged($event)" 
      (rowSelected)="onSelectedRow($event)"
      (gridReady)="onGridReady($event)" 
      rowSelection="single" 
      [pivotPanelShow]="pivotPanelShow"
      [rowSelection]="rowSelection" 
      [pagination]="true" 
      [rowGroupPanelShow]="rowGroupPanelShow"
      [gridOptions]="gridOptions">
    </ag-grid-angular>
  </div>
</div>