<app-multi-line-editor></app-multi-line-editor>
<div class="col-12">
  <div class="row mb-3">
    <div class="col text-right"><button type="button" class="btn btn-primary me-1" (click)="addRow()"><i
          class="bi bi-plus-lg"></i></button>
      <button type="button" class="btn btn-success ms-1 me-1 position-relative" (click)="saveChanges()">
        <i class="bi bi-floppy"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
          *ngIf="notSavedChanges"><span class="visually-hidden">Hay cambios sin guardar</span>
        </span>
      </button>
      <button type="button" class="btn btn-warning ms-1 me-1" (click)="revert()"><i class="bi bi-arrow-clockwise"
         ></i></button>
      <button type="button" class="btn btn-danger ms-1 me-1" (click)="deleteEntry()"><i class="bi bi-trash"
         ></i></button>
    </div>
  </div>

  <div class="row">
    <!-- The AG Grid component -->
    <ag-grid-angular style="width: 100%; height: 32vh;" class="ag-theme-quartz" [rowData]="rowData"
      [columnDefs]="colMaster" (selectionChanged)="onSelectionChanged($event)"
      (cellValueChanged)="onCellValueChanged($event)" (rowSelected)="onSelectedRow($event)"
      (gridReady)="onGridReady($event)" rowSelection="single" [pivotPanelShow]="pivotPanelShow" 
      [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" [pagination]="true" [paginationPageSize]="paginationPageSize">
    </ag-grid-angular>

  </div>


  <div class="row">
    <div class="container-fluid">

      <ul class="nav nav-pills">
        <li class="nav-item" *ngIf="idClient()">
          <a class="nav-link" [class.active]="selectedTab === 'customers-payments'"
            (click)="selectedTab = 'customers-payments'" data-toggle="tab">Abonos</a>
        </li>
        <li class="nav-item" *ngIf="idClient()">
          <a class="nav-link" [class.active]="selectedTab === 'customers-sales'"
            (click)="selectedTab = 'customers-sales'" data-toggle="tab">Ventas</a>
        </li>
      </ul>

      <div class="tab-pane" [class.active]="selectedTab === 'customers-payments'"
        *ngIf="selectedTab === 'customers-payments' && idClient()">
        <app-customers-payments></app-customers-payments>
      </div>
      <div class="tab-pane" [class.active]="selectedTab === 'customers-sales'"
        *ngIf="selectedTab === 'customers-sales' && idClient()">
        <app-customers-sales></app-customers-sales>
      </div>
    </div>
  </div>
</div>