<div class="col-md-12">
  <div class="card">
    <div class="card-header px-2">
      <ul class="nav nav-pills">

        <li class="nav-item">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="dashboard-palacio" routerLinkActive="active">
            <mat-icon>analytics</mat-icon> Dashboards
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="cat-ingresos-palacio" routerLinkActive="active">
            <mat-icon>category</mat-icon> Cat. Ingresos
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="clasificador" routerLinkActive="active">
            <mat-icon>description</mat-icon> {{ 'clasificador_objetos' | translate }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="ingresos" routerLinkActive="active">
            <mat-icon>payments</mat-icon> {{ 'income' | translate }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="egresos" routerLinkActive="active">
            <mat-icon>paid</mat-icon> {{ 'expend' | translate }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="saldos" routerLinkActive="active">
            <mat-icon>account_balance_wallet</mat-icon> {{ 'balances' | translate }}
          </a>
        </li>

      </ul>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
