.master-grid {
      height: 200px;
      margin-bottom: 20px;
    }
         
    .detail-grid {
      height: 300px;
    }

    @media (max-width: 768px) {
      .master-grid,
      .detail-grid {
        height: 250px !important;
      }
    }