<app-multi-line-editor></app-multi-line-editor>
<div class="container-fluid">
  <div class="row">
      <!-- Columna izquierda -->
      <div class="col-3 left-column">
          <div class="card mb-3">
              <div class="card-body">
                  <!-- Comboboxes -->
                  <div class="mb-3">
                      <select id="company" (change)="onCompanysSelected($event)" class="form-control select-side mb-2"
                          title="{{ 'select' | translate  }} {{ 'company' | translate  }}">
                          <option selected disabled value=""> {{ 'company'| translate }} </option>
                          <option *ngFor="let item of companyData" [value]="item.id">
                              {{ item.nameShort}}
                          </option>
                      </select>
                      <select id="oil" (change)="onOilfieldSelected($event)" class="form-control select-side"
                          title="{{ 'select' | translate }} {{ 'oil' | translate }} {{' '}} {{ 'fields' | translate }}">
                          <option selected disabled value=""> {{ 'oil' | translate }} {{' '}} {{ 'fields' | translate }} </option>
                          <option *ngFor="let item of oilfieldData" [value]="item.id">
                              {{ item.name }}
                          </option>
                      </select>
                  </div>
              </div>
          </div>
          
          <!-- Primer Grid -->
          <div class="card mb-3">
              <div class="card-body">
                  <div class="grid-container">
                      <ag-grid-angular class="ag-theme-quartz"
                          [domLayout]="'autoHeight'" 
                          [columnDefs]="colProject"
                          [rowSelection]="rowSelection" 
                          [rowData]="project1"
                          (selectionChanged)="onSelectionChanged($event)" 
                          [pivotPanelShow]="pivotPanelShow" 
                          [pagination]="true"
                          (gridReady)="onGridReady($event)" 
                          [paginationPageSize]="paginationPageSize"
                          [paginationPageSizeSelector]="paginationPageSizeSelector">
                      </ag-grid-angular>    
                  </div>
              </div>
          </div>

          <!-- Segundo Grid -->
          <div class="card mb-3">
              <div class="card-body">
                  <div class="grid-container">
                      <ag-grid-angular class="ag-theme-quartz"
                          [domLayout]="'autoHeight'" 
                          [columnDefs]="colProject"
                          [rowSelection]="rowSelection" 
                          [rowData]="project0"
                          (selectionChanged)="onSelectionChanged3($event)" 
                          [pivotPanelShow]="pivotPanelShow" 
                          [pagination]="true"
                          (gridReady)="onGridReady3($event)" 
                          [paginationPageSize]="paginationPageSize"
                          [paginationPageSizeSelector]="paginationPageSizeSelector">
                      </ag-grid-angular>
                  </div>
              </div>
          </div>
      </div>
      
      <!-- Columna derecha -->
      <div class="col-9 right-column">
          <div class="card h-100">
              <div class="card-body px-1">
                  <!-- Búsqueda y PDF -->
                  <div class="mb-3" *ngIf="Ot">
                      <div class="d-flex justify-content-between align-items-center">
                          <app-search *ngIf="Ot" [id]="id" (dataEmitter)="handleData($event)" class="flex-grow-1 me-2"></app-search>
                          <div>
                              <app-create-pdf *ngIf="showChild2; else pdfInactivo" [inputData]="receivedData"></app-create-pdf>
                              <ng-template #pdfInactivo>
                                  <app-create-pdf-disabled></app-create-pdf-disabled>
                              </ng-template>
                          </div>
                      </div>
                  </div>
                  
                  <!-- Report Table -->
                  <div class="mb-4" *ngIf="showChild2">
                      <app-report-table [inputData]="receivedData"></app-report-table>
                  </div>
                  
                  <!-- Carousel -->
                  <div *ngIf="showChild2">
                      <app-carousel [inputData]="receivedData"></app-carousel>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>