<div>
    <form [formGroup]="myForm"  (ngSubmit)="onSubmit()">
        <div class="row pt-2">
          <!-- Fechas en la misma fila -->
          <div class="col-md-6 mb-3">
            <label for="fecha1" class="form-label">Fecha inicio</label>
            <input type="date" class="form-control" id="fecha1" [max]="fechaFin" formControlName="fechaInicio">
            <small class="text-muted">Día: </small>
          </div>
      
          <div class="col-md-6 mb-3">
            <label for="fecha2" class="form-label">Fecha fin</label>
            <input type="date" class="form-control" id="fecha2" [min]="fechaInicio" formControlName="fechaFin">
            <small class="text-muted">Día: </small>
          </div>
        </div>

        <!-- Justificante en su propia fila -->
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="justificante" class="form-label">Justificante</label>
            <select class="form-select" id="justificante" formControlName="justificante" required>
              <option [ngValue]="null" disabled>Seleccione un justificante</option>
              <option *ngFor="let justificante of catalogoAusencias" [ngValue]="justificante.id">
                {{ justificante.description }}
              </option>
            </select>
          </div>
        </div>

        <div class="text-center mt-3">
            <button type="submit"  class="btn btn-success me-2"><i
                class="fas fa-save me-2"></i>Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="revertChanges()"><i
                class="fas fa-times me-2"></i>Cancelar</button>
        </div>
    </form>
</div>