<div>
    <form [formGroup]="myForm"  (ngSubmit)="onSubmit()">
        <div class="row pt-2">
          <!-- Fechas en la misma fila -->
          <div class="col-md-6 mb-3">
            <label for="fecha1" class="form-label">Fecha inicio</label>
            <input type="date" class="form-control" id="fecha1" [max]="fechaFin" [value]="fechaInicio" formControlName="fechaInicio">
            <small class="text-muted">Día:{{diaSemanaInicio}} </small>
          </div>
      
          <div class="col-md-6 mb-3">
            <label for="fecha2" class="form-label">Fecha fin</label>
            <input type="date" class="form-control" id="fecha2" [min]="fechaInicio" formControlName="fechaFin">
            <small class="text-muted">Día: {{diaSemanaFin}}</small>
          </div>
        </div>

        <!-- Justificante en su propia fila -->
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="justificante" class="form-label">Dia festivo</label>
            <select class="form-select" id="festivo" formControlName="festivo" required>
              <option [ngValue]="null" disabled>Seleccione un dia festivo</option>
              <option *ngFor="let festivo of catalogoFestiveVigente" [ngValue]="festivo.id">
                {{ festivo.description }}
              </option>
            </select>
          </div>
        </div>

        <div class="text-center mt-3">
           <button type="button" class="btn btn-secondary me-2" (click)="revertChanges()">Cancelar</button>
            <button type="submit"  class="btn btn-primary ">Añadir</button>
        </div>
    </form>
</div>