<div class="row p-2">
  <div class="col-12">


    <div class="row">
      <!-- Botones de acción -->
      <nav class="col-auto d-flex flex-column align-items-start">
        
        <button
          type="button"
          class="btn btn-primary ms-1 mb-1 me-1"
          (click)="add()"
        >
          <i class="bi bi-plus-lg"></i>
        </button>
        <button
          type="button"
          class="btn btn-success ms-1 me-1 mb-1 position-relative"
          (click)="save()"
          
          >
          <i class="bi bi-floppy"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
            *ngIf="notSavedChanges"
          >
            <span class="visually-hidden">Hay cambios sin guardar</span>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-warning ms-1 mb-1 me-1"
          (click)="revert()"
        >
          <i class="bi bi-arrow-clockwise"></i>
        </button>
        <button
          type="button"
          class="btn btn-danger ms-1 mb-1 me-1"
          (click)="removed()"
        >
          <i class="bi bi-trash"></i>
        </button>
      </nav>
      <div class="col">
        <!-- Grid jerárquico -->
        <ag-grid-angular
          style="width: 100%; height: 600px;"
          class="ag-theme-quartz catalog-grid"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          (rowGroupOpened)="onRowGroupOpened($event)"
          (cellValueChanged)="onCellValueChanged($event)"
          (selectionChanged)="onSelectionChanged($event)"
          (cellDoubleClicked)="onCellDoubleClicked($event)"
          [gridOptions]="gridOptions"
          [components]="components">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>