<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#positions">Posiciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#billing">Facturación</a>
  </li>

  <!--<li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#catalogs">Catalogos</a>
  </li>-->

</ul>

<div class="tab-content">
  
  <div id="positions" class="tab-pane fade show active">
    <app-positions></app-positions>
  </div>
  
  <div id="billing" class="tab-pane fade">
    <app-billing></app-billing>
  </div>
  
  <div id="catalogs" class="tab-pane fade">
    <app-catalogs></app-catalogs>
  </div>

</div>