<div class="row">
    <div class="col-12">
        <p><strong>Descripción</strong></p>
        <p>{{nameIdentificationRisk}}</p>
    </div>

    <div class="col-12">
        <p><strong>Evento</strong></p>
        <p>{{causeIdentificationRisk}}</p>
    </div>

    <div class="col-12" *ngIf="selectedWorkProgram()">
        <p><strong>Programa de trabajo</strong></p>
        <p>{{selectedWorkProgram()}}</p>
    </div>

    <div class="col-12" *ngIf="selectedPlanificationAction()">
        <p><strong>Acciones</strong></p>
        <p>{{selectedPlanificationAction()}}</p>
    </div>
</div>