<div class="row mt-3">
    <div class="col-12">
        <ul class="nav nav-pills" id="myWorkprogram" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="identification-tab" data-bs-toggle="pill"
                    data-bs-target="#identification-tab-pane" type="button" role="tab"
                    aria-controls="identification-tab-pane" aria-selected="true">Identificación</button>
            </li>
            <li class="nav-item" role="presentation" *ngIf="idIdentificationRisk() != null">
                <button class="nav-link" id="analysis-tab" data-bs-toggle="pill" data-bs-target="#analysis-tab-pane"
                    type="button" role="tab" aria-controls="analysis-tab-pane" aria-selected="false">Análisis</button>
            </li>
<!--             <li class="nav-item" role="presentation" *ngIf="idAnalysis() != null">
                <button class="nav-link" id="planification-tab" data-bs-toggle="pill"
                    data-bs-target="#planification-tab-pane" type="button" role="tab" aria-controls="planification-tab-pane"
                    aria-selected="false">Planificación</button>
            </li> -->
        </ul>
        <div class="tab-content" id="myIssueContent">
            <div class="tab-pane show active" id="identification-tab-pane" role="tabpanel"
                aria-labelledby="identification-tab" tabindex="0">
                <app-identification-risk></app-identification-risk>
            </div>
            <div class="tab-pane" id="analysis-tab-pane" role="tabpanel" aria-labelledby="analysis-tab"
                tabindex="1" *ngIf="idIdentificationRisk() != null">
                <app-analysis-risk></app-analysis-risk>
            </div>
<!--             <div class="tab-pane" id="planification-tab-pane" role="tabpanel" aria-labelledby="planification-tab"
                tabindex="2" *ngIf="idAnalysis() != null">
                <app-contingency-actions></app-contingency-actions>
            </div> -->
        </div>
    </div>
</div>