<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link">
    <img [src]="trackingService.getpictureComp()" alt="BI Company" style="width: 168px; height: 58px;" />
  </a>

  <div class="sidebar">
    <div class="user-panel mt-4 pb-2 mb-2 brand-image">
      <!-- Select Root -->
      <select id="root" (change)="onRootsSelected($event)" class="form-control select-side" [value]="selectedRoot || ''"
                        title= "{{ 'select' | translate  }} {{ 'company' | translate  }}">  >
        <option value="" disabled>{{ 'company' | translate }}</option>
        <option *ngFor="let item of rootData" [value]="item.id">{{ item.name }}</option>
      </select>

         <!-- Select Branchs -->
         <select id="branchs" (change)="onBranchSelected($event)" class="form-control select-side" [value]="selectedBranchId || ''"
                              title= "{{ 'select' | translate  }} {{ 'branchs' | translate  }}">          
          <option selected disabled value="">{{ 'branchs' | translate }}</option>
          <option *ngFor="let item of branchData" [value]="item.id">{{ item.name }}</option>
        </select>

      <!-- Select Contracts -->
      <select id="contract" (change)="onContractsSelected($event)" class="form-control select-side" [value]="selectedContractId || ''"
                            title= "{{ 'select' | translate  }} {{ 'contract' | translate  }}">  >
        <option selected disabled value="">{{ 'contract' | translate }}</option>
        <option *ngFor="let item of contractData" [value]="item.id">{{ item.name }}</option>
      </select>

      <!-- Select Projects -->
      <select id="project" (change)="onProjectSelected($event)" class="form-control select-side" [value]="selectedProjectId || ''"
                           title= "{{ 'select' | translate  }} {{ 'projects' | translate  }}">  >
        <option selected disabled value="">{{ 'projects' | translate }}</option>
        <option *ngFor="let pj of projectData" [value]="pj.id">{{ pj.name }}</option>
      </select>
    </div>
    
     <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" (click)="Dashboard()">
          <mat-icon>dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" (click)="Indicadores()">
          <mat-icon>bar_chart</mat-icon> {{ 'indicators' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" (click)="Admonproc()">
          <mat-icon>menu_book</mat-icon> {{ 'admins' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" (click)="warehouseproc()">
          <mat-icon>warehouse</mat-icon> {{ 'warehouses' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" (click)="maintenanceproc()">
          <mat-icon>engineering</mat-icon> {{ 'maintenance' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" (click)="resourcesmenproc()">
          <mat-icon>diversity_3</mat-icon> {{ 'resourcesmen' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" (click)="SmpSetup()">
          <mat-icon>settings</mat-icon> {{ 'Setup' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" (click)="authService.logout()">
          <mat-icon>logout</mat-icon> Salir
        </a>
      </li>

    </ul>
  </div>
</aside>
