@if (idBranch > 0) {
    <div class="container-fluid mt-4 mb-4 border light-blue-background py-2">
        <div>
            <form [formGroup]="myForm"  (ngSubmit)="onSubmit()">

                <div class="row">
                    <div class="col-6">
                       
                        <div class="py-1">
                            <label for="delay1" class="form-label">Tiempo de tolerancia de retardo antes de primer
                                descuento
                                (minutos) <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" id="delay1" placeholder="Consecutivo" formControlName="delay1" min="0" max="60">
                        </div>
                        <div class="py-1">
                            <label for="delay2" class="form-label">Tiempo de tolerancia de retardo antes de segundo
                                descuento
                                (minutos) <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" id="delay2" placeholder="Consecutivo" formControlName="delay2" min="60" max="120">
                        </div>
                        
                    </div>
                    <div class="col-6">
                        <div class="py-1">
                            <label for="clockTolerance" class="form-label">Tiempo de tolerancia antes de marcar falta
                                (minutos) <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" id="clockTolerance" placeholder="Consecutivo" formControlName="clockTolerance" min="120">
                        </div>
                        <div class="py-1">
                            <label for="settingToleranceTime" class="form-label">Tiempo de tolerancia de ajuste del checador
                                 <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" id="settingToleranceTime" placeholder="Consecutivo" formControlName="settingToleranceTime">
                        </div>

                    </div>
                    <div class="col-6 py-1">
                           
                    </div>

                </div>

                <div class="text-center mt-3">
                    <button type="submit"  class="btn btn-success me-2"><i
                        class="fas fa-save me-2"></i>Guardar</button>
                    <button type="button" class="btn btn-secondary" (click)="revertChanges()"><i
                        class="fas fa-times me-2"></i>Cancelar</button>
                </div>
            </form>
        </div>
    </div>
} @else {
    <div class="container-fluid mt-4 mb-4">
        <div class="alert alert-warning text-center">
            <i class="fas fa-exclamation-triangle me-2"></i>
            Por favor, seleccione una sucursal para configurar la nómina.
        </div>
    </div>
}