<div class="col-md-12">
  <div class="card modern-card">
    <div class="card-header modern-header">
      <div class="nav-wrapper">
        <ul class="nav nav-pills modern-nav">

          <li class="nav-item" *ngIf="authService.hasDetailedPermission('presupuestos', 'presupuesto')">
            <a class="nav-link modern-tab" routerLink="presupuesto" routerLinkActive="active">
              <i class="bi bi-wallet2"></i>
              <span>Presupuesto</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="authService.hasDetailedPermission('presupuestos', 'preregistro')">
            <a class="nav-link modern-tab" routerLink="preregistro" routerLinkActive="active">
              <i class="bi bi-pencil-square"></i>
              <span>Preregistro de Gasto</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="authService.hasDetailedPermission('presupuestos', 'migraciones')">
            <a class="nav-link modern-tab" routerLink="migraciones" routerLinkActive="active">
              <i class="bi bi-arrow-left-right"></i>
              <span>Migraciones</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="authService.hasDetailedPermission('presupuestos', 'incrementos')">
            <a class="nav-link modern-tab" routerLink="incrementos" routerLinkActive="active">
              <i class="bi bi-graph-up-arrow"></i>
              <span>Incrementos</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="authService.hasDetailedPermission('presupuestos', 'reporte')">
            <a class="nav-link modern-tab" routerLink="reporte" routerLinkActive="active">
              <i class="bi bi-bar-chart-line"></i>
              <span>Reporte Desempeño</span>
            </a>
          </li>

        </ul>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
