.detail-grid {
  background-color: #eeffee; // Fondo verde muy suave
  --ag-background-color: #eeffee;

  .ag-root-wrapper {
    border-radius: 8px;
    overflow: hidden;
  }
}

.master-grid {
  background-color: #ffeeee;
  --ag-background-color: #ffeeee;

  .ag-root-wrapper {
    border-radius: 8px;
    overflow: hidden;
  }
}

#cartPrin{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.375rem; /* 6px */
}

#cartSec{
  flex: 1 1 auto;
  padding: 1rem 1rem 0.25rem 1rem; /* 16px */
  color: #212529;
}