<div class="col-md-12">
      <div class="card my-2">
        <div class="card-header p-1">
          <ul class="nav nav-pills justify-content-left">
         
            <li class="nav-item">
              <a class="nav-link green-tab" routerLink="banks" routerLinkActive="active">
                <span class="material-icons">account_balance</span> {{ 'bank' | translate }}
              </a>
            </li>
         
            <li class="nav-item">
              <a class="nav-link green-tab" routerLink="accountbanks" routerLinkActive="active">
                  <span class="material-icons">payments</span>  {{ 'account' | translate }}
              </a>
            </li>
         
            <li class="nav-item">
              <a class="nav-link green-tab" routerLink="expend" routerLinkActive="active">  
                  <span class="material-icons">paid</span> {{ 'sta' | translate }} {{ '' | translate }} {{ 'account' | translate }}
              </a>
            </li>


          </ul>
        </div>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    