<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5><i class="bi bi-building"></i> Régimen Fiscal</h5>
        </div>
        <div class="card-body p-1">
          <div class="row">
            <div class="col-auto">
              <nav class="d-flex flex-column align-items-start">
                <button type="button" class="btn btn-primary ms-1 me-1 mb-2">
                  <i class="bi bi-plus-lg"></i>
                </button>
                <button type="button" class="btn btn-success ms-1 me-1 mb-2">
                  <i class="bi bi-floppy"></i>
                </button>
                <button type="button" class="btn btn-warning ms-1 me-1 mb-2">
                  <i class="bi bi-arrow-clockwise"></i>
                </button>
                <button type="button" class="btn btn-danger ms-1 me-1 mb-2">
                  <i class="bi bi-trash"></i>
                </button>
              </nav>
            </div>
            <div class="col overflow-auto" style="height: calc(80vh - 150px);">
              <ag-grid-angular
                style="width: 100%; height: 100%;"
                class="ag-theme-quartz small-text-ag-grid"
                [rowData]="regimenFiscalData"
                [columnDefs]="regimenFiscalColumnDefs"
                [defaultColDef]="defaultColDef"
                [gridOptions]="gridOptions"
                (gridReady)="onRegimenFiscalGridReady($event)">
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>