<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <ul class="nav nav-pills">
        
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="ordenes" routerLinkActive="active">
            <i class="bi bi-file-earmark-text"></i> {{'orders' | translate}}
          </a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="unidad" routerLinkActive="active">
            <i class="bi bi-cpu"></i> {{'unit' | translate}}
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="servicio" routerLinkActive="active">
            <i class="bi bi-wrench"></i> {{'service' | translate}}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="catastrales" routerLinkActive="active">
            <i class="bi bi-map"></i> {{'cadastral' | translate}}
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="generales" routerLinkActive="active">
            <i class="bi bi-gear"></i> {{'general' | translate}}
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="conexion" routerLinkActive="active">
            <i class="bi bi-plug"></i> {{'connection' | translate}}
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="inspeccion" routerLinkActive="active">
            <i class="bi bi-search"></i> {{'inspection' | translate}}
          </a>
        </li>
    
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>