.green-tab {
    color: #ffffff;
    background-color: #099728;
    border-color: #0f481c;
}

.green-tab:hover {
    color: #ffffff;
    background-color: #218838;
    border-color: #1e7e34;
}

.nav-pills .nav-link.active {
    color: #ffffff !important;
    background-color: #007bff !important;
    border-color: #0056b3 !important;
}