.green-tab {
    color: #ffffff;
    background-color: #007bff;
    border-color: #0056b3;
}

.green-tab:hover {
    color: #ffffff;
    background-color: #0056b3;
    border-color: #004085;
}

.nav-pills .nav-link.active {
    color: #ffffff !important;
    background-color: #099728 !important;
    border-color: #0f481c !important;
}