<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <ul class="nav nav-pills">
        
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="ordenes" routerLinkActive="active">
            <i class="bi bi-file-earmark-text me-1"></i>{{'orders' | translate}}
          </a>
        </li>

        @if (signalsService.getrootChoose() == true) {
          <li class="nav-item">
            <a class="nav-link green-tab" routerLink="catastrales" routerLinkActive="active">
              <i class="bi bi-wrench me-1"></i>OT Manuales
            </a>
          </li>
        }

        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="inspeccion" routerLinkActive="active">
            <i class="bi bi-search me-1"></i>Reportes Diarios
          </a>
        </li>

        @if (signalsService.getrootChoose() == true) {
          <li class="nav-item">
            <a class="nav-link green-tab" routerLink="unidad" routerLinkActive="active">
              <i class="bi bi-pie-chart-fill me-1"></i>{{'graphs' | translate}}
            </a>
          </li>
        }

        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="conexion" routerLinkActive="active">
            <i class="bi bi-diagram-3 me-1"></i>Work Program
          </a>
        </li>

        <!--
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="servicio" routerLinkActive="active">
            <i class="bi bi-wrench"></i> {{'orders' | translate}} {{'general' | translate}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link green-tab" routerLink="generales" routerLinkActive="active">
            <i class="bi bi-gear"></i> {{'general' | translate}}
          </a>
        </li>
        -->
    
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>