<div class="container-fluid mt-4 mb-4 light-blue-background">
  <div class="row">
    <div class="col-8">
      <h3 class="mb-4">Configuración de Puestos</h3>
      <div class="row g-3">
        <div class="col-md-6 col-lg-6">
          <label for="directorName" class="form-label">Nombre de dirección <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="directorName" placeholder="Nombre de dirección" [(ngModel)]="setupData.directorName">
        </div>
        <div class="col-md-6 col-lg-6">
          <label for="directortitle" class="form-label">Título de dirección <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="directortitle" placeholder="Título de dirección" [(ngModel)]="setupData.directorTitle">
        </div>
        <div class="col-md-6 col-lg-6">
          <label for="gerencyName" class="form-label">Nombre de gerencia <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="gerencyName" placeholder="Nombre de gerencia" [(ngModel)]="setupData.gerencyName">
        </div>
        <div class="col-md-6 col-lg-6">
          <label for="gerencyTitle" class="form-label">Título de gerencia <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="gerencyTitle" placeholder="Título de gerencia" [(ngModel)]="setupData.gerencyTitle">
        </div>
        <div class="col-md-6 col-lg-6">
          <label for="administratorName" class="form-label">Nombre de administración <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="administratorName" placeholder="Nombre de administración" [(ngModel)]="setupData.administratorName">
        </div>
        <div class="col-md-6 col-lg-6">
          <label for="administratorTitle" class="form-label">Título de administración <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="administratorTitle" placeholder="Título de administración" [(ngModel)]="setupData.administratorTitle">
        </div>
        <div class="col-md-6 col-lg-6">
          <label for="operatorName" class="form-label">Nombre de operación <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="operatorName" placeholder="Nombre de operación" [(ngModel)]="setupData.operatorName">
        </div>
        <div class="col-md-6 col-lg-6">
          <label for="operatorTitle" class="form-label">Título de operación <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="operatorTitle" placeholder="Título de operación" [(ngModel)]="setupData.operatorTitle">
        </div>
        <div class="col-md-6 col-lg-6">
          <label for="consecutiveReceipt" class="form-label">Consecutivo Recibo <span class="text-danger">*</span></label>
          <input type="number" class="form-control" id="consecutiveReceipt" placeholder="Consecutivo Recibo" [(ngModel)]="setupData.consecutiveReceipt">
        </div>
        <div class="col-md-6 col-lg-6">
          <label for="consecutiveCreditNote" class="form-label">Consecutivo Nota de Crédito <span class="text-danger">*</span></label>
          <input type="number" class="form-control" id="consecutiveCreditNote" placeholder="Consecutivo Nota de Crédito" [(ngModel)]="setupData.consecutiveCreditNote">
        </div>
        <div class="col-md-6 col-lg-6">
          <label for="iva" class="form-label">IVA <span class="text-danger">*</span></label>
          <input type="number" class="form-control" id="iva" placeholder="IVA" [(ngModel)]="setupData.iva">
        </div>
      </div>
      <div class="mt-4 text-end">
        <button type="button" class="btn btn-primary me-2" (click)="saveChanges()"><i class="fas fa-save me-2"></i>Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="revertChanges()"><i class="fas fa-times me-2"></i>Cancelar</button>
      </div>
    </div>
  </div>
</div>