<div class="col-md-12">
      <div class="card">
         <div class="card-header p-2">
            <ul class="nav nav-pills">

               <ng-container *ngFor="let tab of tabMenus">
                 <li class="nav-item"
                     *ngIf="tab.skipPermission || (tab.principalSubIdentifier
                       ? authService.hasSubDetailedPermission(tab.masterIdentifier, tab.identifier, tab.principalSubIdentifier)
                       : authService.hasDetailedPermission(tab.masterIdentifier, tab.identifier))">
                   <a class="nav-link green-tab position-relative" [routerLink]="tab.route" routerLinkActive="active">
                     <i [class]="tab.icon"></i> {{ tab.permissionName }}
                     <span *ngIf="hasNupnpn && tab.identifier === 'purchas_eorder'"
                           style="position:absolute; top:4px; right:4px; width:8px; height:8px;
                                  background:#d32f2f; border-radius:50%; display:inline-block;">
                     </span>
                   </a>
                 </li>
               </ng-container>

            </ul>

            <router-outlet></router-outlet>
         </div>

      </div>
   </div>
