<app-multi-line-editor></app-multi-line-editor>
<div class="col-12 py-3">
  <!-- Botones y grid principal -->
  <div class="row mb-3">

    <div class="col text-right">
      <button type="button" class="btn btn-primary me-1" (click)="addMasterRow()">
        <i class="bi bi-plus-lg"></i>
      </button>
      <button type="button" class="btn btn-success ms-1 me-1 position-relative" (click)="saveMasterChanges()">
        <i class="bi bi-floppy"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
          *ngIf="masterNotSavedChanges">
          <span class="visually-hidden">Hay cambios sin guardar</span>
        </span>
      </button>
      <button type="button" class="btn btn-warning ms-1 me-1" (click)="revertMasterData()">
        <i class="bi bi-arrow-clockwise"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ag-grid-angular style="width: 100%; height: 50vh;" class="ag-theme-quartz small-text-ag-grid" [rowData]="masterRowData"
        [columnDefs]="colMaster" (selectionChanged)="onMasterSelectionChanged($event)" [gridOptions]="gridOptions"
        (cellValueChanged)="onMasterCellValueChanged($event)" (rowSelected)="onMasterRowSelected($event)"
        (gridReady)="onMasterGridReady($event)" [rowSelection]="rowSelection" [pivotPanelShow]="pivotPanelShow"
        [rowGroupPanelShow]="rowGroupPanelShow" [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector" [pagination]="true">
      </ag-grid-angular>
    </div>
  </div>
</div>