<app-multi-line-editor></app-multi-line-editor>

<div class="row p-3">
  <div class="col-12 py-3">
    <!-- Botones y grid principal -->
    <div class="row mb-3">
      <nav class="col-auto d-flex flex-column align-items-start">
        
        <button type="button" class="btn btn-primary ms-1 me-1 mb-2" (click)="addMasterRow()">
          <i class="bi bi-plus-lg"></i>
        </button>
        
        <button type="button" class="btn btn-success ms-1 me-1 position-relative mb-2" (click)="saveMasterChanges()">
          <i class="bi bi-floppy"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
            *ngIf="masterNotSavedChanges">
            <span class="visually-hidden">Hay cambios sin guardar</span>
          </span>
        </button>
        
        <button type="button" class="btn btn-warning ms-1 me-1 mb-2" (click)="revertMasterData()">
          <i class="bi bi-arrow-clockwise"></i>
        </button>
        
        <button type="button" class="btn btn-danger ms-1 me-1 mb-2" (click)="deleteBranch()">
          <i class="bi bi-trash"></i>
        </button>

      </nav>

      <div class="col">
        <div class="row">
          <ag-grid-angular style="width: 100%" [ngStyle]="{ height: gridHeight }"
            class="ag-theme-quartz small-text-ag-grid" [rowData]="masterRowData" [columnDefs]="colMaster"
            (selectionChanged)="onMasterSelectionChanged($event)" [gridOptions]="gridOptions"
            (gridReady)="onMasterGridReady($event)" 
            [rowSelection]="rowSelection"
 
            [paginationPageSize]="paginationPageSize" [paginationPageSizeSelector]="paginationPageSizeSelector"
            [pagination]="false" [stopEditingWhenCellsLoseFocus]="true"
            (cellValueChanged)="onMasterCellValueChanged($event)">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title">{{isEditing ? 'Editar sucursal' : 'Nueva sucursal'}}</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addBranch" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-2" *ngIf="signalsService.getemailChoose() === environment.root">
            <select formControlName="idCompany" id="idCompany" class="form-select">
              <option selected disabled>Seleccione una compañía</option>
              <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
            </select>
          </div>
          <div class="mb-2">
            <input type="text" formControlName="name" id="name" class="form-control"
              placeholder="Nombre de la sucursal">
          </div>
          <div class="mb-2">
            <select formControlName="idEstado" id="idEstado" class="form-select">
              <option selected disabled>Seleccione un estado</option>
              <option *ngFor="let estado of estados" [value]="estado.id">{{estado.nom_agee}}</option>
            </select>
          </div>
          <div class="mb-2">
            <textarea formControlName="description" id="description" class="form-control"
              placeholder="Descripción de la sucursal" rows="4"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-2">
            <textarea formControlName="address" id="address" class="form-control" placeholder="Dirección de la sucursal"
              rows="4"></textarea>
          </div>
          <div class="mb-2">
            <div class="form-check">
              <input type="checkbox" formControlName="vigente" id="vigente" class="form-check-input">
              <label class="form-check-label" for="vigente">Vigente</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cancelar</button>
  </div>
</ng-template>