<app-multi-line-editor></app-multi-line-editor>
<div class="col-12">
  <div class="row mt-3 mb-3">
    <div class="col">
      <ng-select
        [items]="bankAccounts"
        bindValue="id"
        [(ngModel)]="idAccount"
        [disabled]="!bankAccounts?.length"
        placeholder="{{
          bankAccounts?.length
            ? 'Seleccione cuenta bancaria'
            : 'No hay cuentas disponibles'
        }}"
      >
        <ng-template ng-label-tmp let-item="item">
          {{ item?.nameAccount }} - {{ item?.bankName }}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{ item.nameAccount }} - {{ item.bankName }}
        </ng-template>
      </ng-select>
    </div>
  </div>

  <!-- Leyenda de estatus -->
  <div class="row mb-2">
    <div class="col-12">
      <div class="d-flex flex-wrap gap-2">
        <span class="badge bg-primary text-white p-2">
          <i class="bi bi-square-fill me-1"></i> Pendiente
        </span>
        <span class="badge bg-success text-white p-2">
          <i class="bi bi-square-fill me-1"></i> Pagada
        </span>
        <span class="badge bg-danger text-white p-2">
          <i class="bi bi-square-fill me-1"></i> Cancelada
        </span>
        <span class="badge bg-warning text-dark p-2">
          <i class="bi bi-square-fill me-1"></i> Entregada
        </span>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <!-- Columna vertical para botones -->
    <div class="col-auto pe-0">
      <div class="d-flex flex-column align-items-start gap-2">
        <button
          type="button"
          class="btn btn-primary"
          (click)="addRow()"
          [disabled]="!idAccount"

        >
          <i class="bi bi-plus-lg"></i>
        </button>
        <button
          type="button"
          class="btn btn-success position-relative"
          (click)="saveChanges()"
          [disabled]="!idAccount || !notSavedChanges"

        >
          <i class="bi bi-floppy"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
            *ngIf="notSavedChanges"
          >
            <span class="visually-hidden">Hay cambios sin guardar</span>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-warning"
          (click)="revert()"
          [disabled]="!idAccount || !notSavedChanges"
        >
          <i class="bi bi-arrow-clockwise"></i>
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteEntry()"
          [disabled]="!idAccount || !selectedIncomes"

        >
        
          <i class="bi bi-trash"></i>
        </button>
         <button 
              type="button" 
              class="btn btn-success position-relative" 
              (click)="excel()">
            <img src='./assets/img/excel.png' width="17" height="17">
         </button>
      </div>
    </div>

    <!-- El componente AG Grid con altura completa -->
    <div class="col">
      <ag-grid-angular
        style="width: 100%; height: 78vh;"
        class="ag-theme-quartz small-text-ag-grid"
        [gridOptions]="gridOptions"
        [rowData]="incomes"
        [columnDefs]="colMaster"
        [components]="components"
        (selectionChanged)="onSelectionChanged($event)"
        (cellValueChanged)="onCellValueChanged($event)"
        (rowSelected)="onSelectedRow($event)"
        (gridReady)="onGridReady($event)"
        rowSelection="single"
        [class.disabled-grid]="!idAccount"
        [stopEditingWhenCellsLoseFocus]="true"
      >
      </ag-grid-angular>
    </div>
  </div>

</div>

<div class="modal fade" id="optionExcel" tabindex="-1" aria-labelledby="optionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg border-0 rounded-4">
      <div class="modal-header">
        <h5 class="modal-title" id="optionModalLabel">Exportar Ingresos a Excel</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="tipoReporte" class="form-label">Tipo de Reporte</label>
            <select id="tipoReporte" class="form-select" formControlName="tipoReporte">
              <option *ngFor="let tipo of tipos" [value]="tipo.tipo">{{ tipo.tipo }}</option>
              <option value="GENERAL">GENERAL</option>
            </select>
          </div>
          <div class="row g-3">
            <div class="col">
              <label for="fechaInicio" class="form-label">Fecha de inicio</label>
              <input type="month" class="form-control" id="fechaInicio" min="2024-10"  formControlName="fechaInicio">
            </div>
            <div class="col">
              <label for="fechaFin" class="form-label">Fecha de fin</label>
              <input type="month" class="form-control" id="fechaFin" min="2024-10" formControlName="fechaFin">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        <button type="submit" class="btn btn-success" [disabled]="myForm.invalid" (click)="onSubmit()">
          <i class="bi bi-file-earmark-excel"></i> Exportar
        </button>
      </div>
    </div>
  </div>
</div>