:host ::ng-deep .ag-theme-quartz {
    .ag-cell-inline-editing {
      background-color: #fff3cd !important;
      border: 2px solid #ffc107 !important;
    }
  }
  
  ag-grid-angular {
    width: 100%;
    height: 63vh;
  }
