<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <ul class="nav nav-pills">
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('shopping', 'providers')">
          <a class="nav-link green-tab" routerLink="page03" routerLinkActive="active">
            <i class="bi bi-file-earmark-person-fill"></i><span>Proveedores</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('shopping', 'warehouses')">
          <a class="nav-link green-tab" routerLink="warehouses" routerLinkActive="active">
            <i class="bi bi-houses"></i><span>Almacenes</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('shopping', 'materials')">
          <a class="nav-link green-tab" routerLink="page02typemat" routerLinkActive="active">
            <i class="bi bi-archive-fill"></i><span>Materiales</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('shopping', 'requisitions')">
          <a class="nav-link green-tab" routerLink="requisitions" routerLinkActive="active">
            <i class="bi bi-list-task"></i><span>Requisiciones</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('shopping', 'purchas_eorder')">
          <a class="nav-link green-tab" routerLink="purchaseorder" routerLinkActive="active">
            <i class="bi bi-cart-fill"></i><span>Orden Compra</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('shopping', 'entrances')">
          <a class="nav-link green-tab" routerLink="entrances" routerLinkActive="active">
            <i class="bi bi-arrow-down-left"></i><span>Entradas</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('shopping', 'outings')">
          <a class="nav-link green-tab" routerLink="outings" routerLinkActive="active">
            <i class="bi bi-arrow-up-right"></i><span>Salidas</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('shopping', 'kardex')">
          <a class="nav-link green-tab" routerLink="kardex" routerLinkActive="active">
            <i class="bi bi-table"></i><span>Kárdex</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('shopping', 'guard')">
          <a class="nav-link green-tab" routerLink="guard" routerLinkActive="active">
            <i class="bi bi-shield-check"></i><span>Resguardo</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('shopping', 'catalogs')">
          <a class="nav-link green-tab" routerLink="catalogs" routerLinkActive="active">
            <i class="bi bi-journal-text"></i><span>Catálogos</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.hasDetailedPermission('shopping', 'setup')">
          <a class="nav-link green-tab" routerLink="setupwh" routerLinkActive="active">
            <i class="bi bi-gear-fill"></i><span>Config</span>
          </a>
        </li>

      </ul>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
