<div class="col-md-12">
   <div class="card">
      <div class="card-header p-2">
         <ul class="nav nav-pills">
             
            <li class="nav-item" *ngIf="isRoot">
               <a class="nav-link green-tab" routerLink="root" routerLinkActive="active"><i
                     class="bi bi-building-fill-gear"></i> {{ 'root' | translate}}</a>
            </li>

            <li class="nav-item" *ngIf="canSeeBranches || isRoot">
               <a class="nav-link green-tab" routerLink="branches" routerLinkActive="active"><i
                     class="bi bi-building-fill-gear"></i> {{ 'branchs' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('setup', 'stores')">
               <a class="nav-link green-tab" routerLink="stores" routerLinkActive="active"><i
                   class="bi bi-shop"></i>{{ 'stores' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('setup', 'cash-registers')">
               <a class="nav-link green-tab" routerLink="cashRegisters" routerLinkActive="active"><i 
                  class="bi bi-wallet2"></i>{{ 'Caja registradora' | translate}}</a>
            </li>

            <li class="nav-item" *ngIf="authService.hasDetailedPermission('setup', 'users')">
               <a class="nav-link green-tab" routerLink="users" routerLinkActive="active"><i
                     class="bi bi-person-bounding-box"></i> {{ 'user' | translate}}</a>
            </li>

            <li class="nav-item" *ngIf="authService.hasDetailedPermission('setup', 'log')">
               <a class="nav-link green-tab" routerLink="logs" routerLinkActive="active"><i
                     class="bi bi-archive-fill"></i> {{ 'log' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="authService.hasDetailedPermission('setup', 'roles')">
               <a class="nav-link green-tab" routerLink="roles" routerLinkActive="active"><i
                     class="bi bi-building-fill-gear"></i> {{ 'Departamentos' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="isRoot">
               <a class="nav-link green-tab" routerLink="menu" routerLinkActive="active"><i
                     class="bi bi-building-fill-gear"></i> {{ 'menu' | translate}}</a>
            </li>
            
         </ul>

         <router-outlet></router-outlet>
      </div>

   </div>
</div>