<div class="col-md-12">
   <div class="card">
      <div class="card-header p-2">
         <ul class="nav nav-pills">
             
            <li class="nav-item" *ngIf="isRoot">
               <a class="nav-link green-tab" routerLink="root" routerLinkActive="active"><i
                     class="bi bi-building-fill-gear"></i> {{ 'root' | translate}}</a>
            </li>

            <li class="nav-item" *ngIf="canSeeBranches">
               <a class="nav-link green-tab" routerLink="branches" routerLinkActive="active"><i
                     class="bi bi-building-fill-gear"></i> {{ 'branchs' | translate}}</a>
            </li>

            <li class="nav-item" *ngIf="canSeeUsers">
               <a class="nav-link green-tab" routerLink="users" routerLinkActive="active"><i
                     class="bi bi-person-bounding-box"></i> {{ 'user' | translate}}</a>
            </li>

         </ul>

         <router-outlet></router-outlet>
      </div>

   </div>
</div>