// Estilos para el componente detail-cell-renderer-subfamilia

.chevron-icon {
  user-select: none;
  display: inline-block;
  transition: transform 0.2s ease;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);

  &.show {
    display: block !important;
  }
}
