<div class="row p-3">
  <div class="col-12">
    <div class="row mt-3">
      <div class="col-auto">
        <div class="d-flex flex-column gap-1">
          
          <button
            type="button"
            class="btn btn-warning ms-1 me-1"
            (click)="revert()"
            title="Deshacer cambios">
            <i class="bi bi-arrow-clockwise"></i>
          </button>
          <button
            type="button"
            class="btn btn-primary position-relative ms-1 me-1"
            (click)="saveChanges()"
            title="Guardar cambios">
            <i class="bi bi-floppy"></i>
            <span
              class="position-absolute top-0 end-0 translate-middle p-2 bg-danger border border-light rounded-circle"
              *ngIf="notSavedChanges">
              <span class="visually-hidden">Hay cambios sin guardar</span>
            </span>
          </button>
          <button
            type="button"
            class="btn btn-danger ms-1 me-1"
            (click)="deleteEntry()"
            title="Eliminar concepto">
            <i class="bi bi-trash"></i>
          </button>
          <button
            type="button"
            class="btn btn-secondary ms-1 me-1"
            (click)="autoSizeAllColumns()"
            title="Autoajustar columnas">
            <i class="bi bi-arrows-expand"></i>
          </button>
        </div>
      </div>
      <div class="col">
        <ag-grid-angular
          style="width: 100%; height: 75vh;"
          class="ag-theme-quartz small-text-ag-grid"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [gridOptions]="gridOptions"
          (gridReady)="onGridReady($event)"
          (cellValueChanged)="onCellValueChanged($event)"
          (selectionChanged)="onSelectionChanged($event)"
          [rowSelection]="rowSelection"
          [stopEditingWhenCellsLoseFocus]="true"
          [localeText]="AG_GRID_LOCALE_ES">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
