<div class="container mt-3">

    <div class="main-container p-3">
        <div class="row text-center mb-4">
            <div class="col">
                <div class="date-display" *ngIf="formattedDate">
                    {{ formattedDate }}
                </div>
                <div class="time-display" id="reloj" *ngIf="formattedTime">
                    {{ formattedTime }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label for="idEmpleado">Nombre de usuario:</label>
                            <input type="text" class="form-control" id="idEmpleado" placeholder="Nombre de usuario"
                                [(ngModel)]="employeeCode">
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Contraseña:</label>
                            <input type="password" class="form-control" id="password" placeholder="Contraseña"
                                [(ngModel)]="clockPassword">
                        </div>
                        <div class="row">
                            <div class="col-6 text-center">
                                <button class="btn btn-success btn-lg text-uppercase" (click)="checkInOrOut('IN')">Entrada</button>
                            </div>
                            <div class="col-6 text-center">
                                <button class="btn btn-danger btn-lg text-uppercase" (click)="checkInOrOut('OUT')">Salida</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <h3 class="info-header">Información Semanal</h3>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-6">Horas laboradas:</div>
                            <div class="col-6" id="horasLaboradas">{{incidentData.Hours}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6">Faltas:</div>
                            <div id="faltas" [ngClass]="incidentData.Absences > 0 ? 'col-6 text-danger': 'col-6'"
                                style="font-weight: bold; font-size: 1.5em">
                                {{incidentData.Absences}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6">Salidas Pendientes:</div>
                            <div id="salidasPendientes"
                                [ngClass]="incidentData.PendingOuts > 0 ? 'col-6 text-danger': 'col-6'"
                                style="font-weight: bold; font-size: 1.5em">
                                {{incidentData.PendingOuts}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6">Retardos:</div>
                            <div id="retardos"[ngClass]="incidentData.Delays > 0 ? 'col-6 text-danger': 'col-6'"
                                style="font-weight: bold; font-size: 1.5em">
                                {{incidentData.Delays}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Botón para abrir el modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clockDbModal">
            Abrir Clock DB
        </button>

        <!-- Modal -->
        <div class="modal fade" id="clockDbModal" tabindex="-1" aria-labelledby="clockDbModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="clockDbModalLabel">Registro Entradas y Salidas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Aquí se carga el componente app-clock-db -->
                        <app-clock-db #clockDb></app-clock-db>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>