<div class="row mt-3 mb-3">
  <div class="col-md-6">
    <ng-select [items]="types" bindLabel="name" bindValue="value" placeholder="Selecciona un tipo"
      [(ngModel)]="selectedType" (ngModelChange)="onTypeChange()">
    </ng-select>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Categorías</h3>
    <button class="btn btn-success mb-3" (click)="openAddModal()">Agregar Categoría</button>
    <div class="scroll-container" style="max-height: 53vh; overflow-y: auto;">
      <ul class="list-group">
        <li *ngFor="let parent of parentCategories" class="list-group-item d-flex align-items-center">
          <div class="row g-2 w-100">
            <div [ngClass]="selectedType == 'FAMILY' ? 'col-10' : 'col-11'" 
                 [class.fw-bold]="parent.id === selectedParentId">
              {{ parent.description }}
            </div>
            <div class="col-auto d-flex justify-content-end gap-2">
              <button *ngIf="selectedType == 'FAMILY'" class="btn btn-primary btn-sm" (click)="onParentSelect(parent.id)"><i
                  class="bi bi-arrows-expand-vertical"></i> </button>
              <button class="btn btn-danger btn-sm" (click)="deleteCategory(parent.id)"><i
                  class="bi bi-trash"></i></button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6" *ngIf="selectedType == 'FAMILY'">
    <h3>Subcategorías</h3>
    <button *ngIf="selectedParentId" class="btn btn-success mb-3" (click)="openAddModal(selectedParentId)">
      Agregar Subfamilia
    </button>
    <div class="scroll-container" style="max-height: 53vh; overflow-y: auto;">
      <ul class="list-group">
        <li *ngFor="let child of childCategories" class="list-group-item d-flex align-items-center">
          <div class="row g-2 w-100">
            <div class="col-11">{{ child.description }}</div>
            <div class="col-auto d-flex justify-content-end">
              <button class="btn btn-danger btn-sm" (click)="deleteCategory(child.id)"><i
                  class="bi bi-trash"></i></button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal para agregar/editar categorías -->
<div class="modal fade" [class.show]="showAddModal" [style.display]="showAddModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Agregar</h3>
        <button type="button" class="btn-close" (click)="showAddModal = false"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="selectedCategory.description" name="description"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="showAddModal = false">Cancelar</button>
            <button type="submit" class="btn btn-primary">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>