<div class="container-fluid mt-3">
  <div class="col-12">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedTab === 'users'" data-toggle="tab"
          (click)="onUsersSelected('users')">Selección de usuarios</a>
      </li>
      <li class="nav-item" *ngIf="usersService.profile.emailUser()">
        <a class="nav-link" [class.active]="selectedTab === 'usersxcompanys'" data-toggle="tab"
          (click)="onUsersSelected('usersxcompanys')">Compañías</a>
      </li>
      <li class="nav-item" *ngIf="usersService.profile.emailUser()">
        <a class="nav-link" [class.active]="selectedTab === 'usersxcontracts'" data-toggle="tab"
          (click)="onUsersSelected('usersxcontracts')">Contratos</a>
      </li>
      <li class="nav-item" *ngIf="usersService.profile.emailUser()">
        <a class="nav-link" [class.active]="selectedTab === 'usersxoilfields'" data-toggle="tab"
          (click)="onUsersSelected('usersxoilfields')">Campos petroleros</a>
      </li>
      <li class="nav-item" *ngIf="usersService.profile.emailUser()">
        <a class="nav-link" [class.active]="selectedTab === 'usersxprojects'" data-toggle="tab"
          (click)="onUsersSelected('usersxprojects')">Proyectos</a>
      </li>
      <li class="nav-item" *ngIf="usersService.profile.emailUser()">
        <a class="nav-link" [class.active]="selectedTab === 'usersxroot'" data-toggle="tab"
          (click)="onUsersSelected('usersxroot')">Root</a>
      </li>
    </ul>
  
    <div class="tab-pane" [class.active]="selectedTab === 'users'" *ngIf="selectedTab === 'users'">
      <app-users></app-users>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'usersxcompanys'" *ngIf="selectedTab === 'usersxcompanys'">
      <app-usersxcompanys></app-usersxcompanys>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'usersxcontracts'" *ngIf="selectedTab === 'usersxcontracts'">
      <app-usersxcontracts></app-usersxcontracts>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'usersxprojects'" *ngIf="selectedTab === 'usersxprojects'">
      <app-usersxprojects></app-usersxprojects>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'usersxoilfields'" *ngIf="selectedTab === 'usersxoilfields'">
      <app-usersxoilfields></app-usersxoilfields>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'usersxroot'" *ngIf="selectedTab === 'usersxroot'">
      <app-usersxroot></app-usersxroot>
    </div>
  </div>

</div>
