<div class="row p-3">
  <div [ngClass]="profile().emailUser() != null ? 'col-lg-10 col-md-9 col-sm-9 col-9' : 'col-12'">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-12" *ngFor="let master of masterPermissions">
        <div class="accordion" id="permissionsAccordion{{ master.id }}">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ master.id }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + master.id" aria-expanded="false"
                [attr.aria-controls]="'collapse' + master.id">
                {{ master.permissionName }}
              </button>
            </h2>
            <div id="collapse{{ master.id }}" class="accordion-collapse collapse"
              [attr.aria-labelledby]="'heading' + master.id"
              [attr.data-bs-parent]="'#permissionsAccordion' + master.id">
              <div class="accordion-body">
                <div class="form-check form-switch" *ngFor="let detail of master.detailedPermissions">
                  <input type="checkbox" class="form-check-input" role="switch" [id]="'detail' + detail.id"
                    [checked]="isPermissionChecked(detail.id)" (change)="togglePermission(detail.id)" />
                  <label class="form-check-label small-text" [for]="'detail' + detail.id">{{ detail.permissionName
                    }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-3 col-3" *ngIf="profile().emailUser()">
    <div class="card text-center">
      <app-users-profile></app-users-profile>
    </div>
  </div>
</div>