<div class="row p-3">
    <div class="col-12">
        <div class="row mb-3">
            <div class="col">
                <div class="d-flex justify-content-end mb-2">
                    <button type="button" class="btn btn-primary ms-1" (click)="addRow()"><i
                            class="bi bi-plus-lg"></i></button>
                    <button type="button" class="btn btn-success ms-1 position-relative" (click)="saveChanges()">
                        <i class="bi bi-floppy"></i>
                        <span
                            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                            *ngIf="notSavedChanges"><span class="visually-hidden">Hay cambios sin guardar</span>
                        </span>
                    </button>
                    <button type="button" class="btn btn-warning ms-1" (click)="revert()"><i class="bi bi-arrow-clockwise"
                       ></i></button>
                    <button type="button" class="btn btn-danger ms-1" (click)="deleteUser()"><i class="bi bi-trash"
                           ></i></button>
                    <button type="button" class="btn btn-info ms-1" (click)="togglePermissions()">
                        <i class="bi bi-shield-lock"></i> Permisos
                    </button>
                </div>
                <div class="row">
                    <ag-grid-angular style="width: 100%;"
                    [ngStyle]="{'height': gridHeight}"
                    class="ag-theme-quartz small-text-ag-grid"
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    [pagination]="false"
                    [paginationPageSize]="paginationPageSize"
                    [paginationPageSizeSelector]="paginationPageSizeSelector"
                    rowSelection="single"
                    (selectionChanged)="onSelectionChanged($event)"
                    (cellValueChanged)="onCellValueChanged($event)"
                    (rowSelected)="onSelectedRow($event)"
                    (gridReady)="onGridReady($event)"
                    [components]="components"
                    [gridOptions]="gridOptions"
                    [stopEditingWhenCellsLoseFocus]="true">
                </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>
