<div class="col-12 mt-3 light-blue-background">
  <div class="row mt-1">
    <!-- Columna de botones -->
    <div class="col-auto">
      <div class="d-flex flex-column gap-1">
        <button type="button" class="btn btn-primary ms-1 me-1" (click)="addDetailRow()" *ngIf="authService.getCrudPermissionDetail('hr', 'clock','MaeChe_Ajus', 'create')" >
          <i class="bi bi-plus-lg"></i>
        </button>
        <button type="button" class="btn btn-success ms-1 me-1 position-relative" (click)="saveDetailChanges()" *ngIf="authService.getCrudPermissionDetail('hr', 'clock','MaeChe_Ajus', 'create') || authService.getCrudPermissionDetail('hr', 'clock','MaeChe_Ajus', 'update')" >
          <i class="bi bi-floppy"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
            *ngIf="notSavedChanges">
            <span class="visually-hidden">Hay cambios sin guardar</span>
          </span> 
        </button>
        <button type="button" class="btn btn-warning ms-1 me-1" (click)="revertDetailData()">
          <i class="bi bi-arrow-clockwise"></i>
        </button>
        <button type="button" class="btn btn-info ms-1 me-1" data-bs-toggle="modal" data-bs-target="#addJustificanteModal" *ngIf="authService.getCrudPermissionDetail('hr', 'clock','MaeChe_Fes', 'read')">
          <i class="bi bi-cake"></i>
        </button>
      </div>
    </div>

    <!-- Columna de la tabla -->
    <div class="col">
      <ag-grid-angular style="width: 100%" [ngStyle]="{ height: gridHeight }" class="ag-theme-quartz small-text-ag-grid"
        [rowData]="rowData" [columnDefs]="colDetail" (selectionChanged)="onSelectionChanged($event)"
        [gridOptions]="gridOptions" (cellValueChanged)="onCellValueChanged($event)"
        [autoGroupColumnDef]="{ headerName: 'Dia de trabajo' }"
        (rowSelected)="onSelectedRow($event)" (gridReady)="onGridReady($event)" [pagination]="false"
      [components]="components">
      </ag-grid-angular>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist"></ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="credits" role="tabpanel" aria-labelledby="credit-tab"
        *ngIf="showCreditsTab"></div>
    </div>
  </div>
</div>

<!-- Modal de Añadir Justificante -->
<div class="modal fade" id="addJustificanteModal" tabindex="-1" aria-labelledby="addJustificanteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="addJustificanteModalLabel">Añadir Día Festivo</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="justificanteForm">
          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="diaInicio" [max]="diaFin" formControlName="controlInicio">
            <small class="text-muted">Día: {{diaSemanaInicio}}</small>
          </div>
          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="diaFin" [min]="diaInicio" formControlName="controlFin">
            <small class="text-muted">Día: {{diaSemanaFin}}</small>
          </div>
          <div class="mb-3">
            <label for="justificante" class="form-label">Justificante</label>
            <select class="form-select" id="justificante" formControlName="justificante" required>
              <option [ngValue]="null" disabled>Seleccione un justificante</option>
              <option *ngFor="let festivo of catalogoFestiveVigente" [ngValue]="festivo.id">
                {{festivo.description}}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmarAnadir()" data-bs-dismiss="modal" *ngIf="authService.getCrudPermissionDetail('hr', 'clock','MaeChe_Fes', 'create')">Añadir</button>
      </div>
    </div>
  </div>
</div>