.grid-container {
  display: flex;
  /*justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  height: 100vh;          /* Toma el 100% de la altura de la pantalla */
}
