.grid-container {
  display: flex;
  /*justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  height: 100vh;          /* Toma el 100% de la altura de la pantalla */
}

.ag-theme-quartz {
  height: 400px; /* Altura fija para habilitar scroll */
  width: 100%; /* Asegura que el scroll horizontal se ajuste al contenedor */
  overflow: auto; /* Habilita scroll vertical y horizontal si es necesario */
}
