<div class="container-fluid mt-3">
  <div class="row">
    <!-- Botones CRUD izquierda -->
    <nav class="col-auto d-flex flex-column align-items-start">
      <button type="button" class="btn btn-warning mb-2" (click)="refreshData()" title="Actualizar">
        <i class="bi bi-arrow-clockwise" style="font-size: 1rem;"></i>
      </button>
    </nav>

    <!-- Grid principal -->
    <div class="col">
      <ag-grid-angular
        style="width: 100%;"
        [ngStyle]="{'height': gridHeight}"
        class="ag-theme-quartz small-text-ag-grid"
        [columnDefs]="colMaster"
        [rowData]="rowData"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        [localeText]="AG_GRID_LOCALE_ES"
        [rowSelection]="rowSelection"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged($event)"
        (cellValueChanged)="onCellValueChanged($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>
