<div class="col-md-12">
  <div class="card mt-3">
    <div class="card-header p-2">
      <!-- Navegación de segundo nivel -->
      <ul class="nav nav-pills nav-level-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="materiales-maestro" routerLinkActive="active">
            <i class="bi bi-grid-3x3-gap"></i> Materia Prima
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="vienes-servicios-no-productivos" routerLinkActive="active">
            <i class="bi bi-box"></i> Bienes y servicios no productivos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="articulos-servicios-nuevos" routerLinkActive="active">
            <i class="bi bi-stars"></i> Articulos y servicios nuevos
          </a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>