@if (idBranch > 0) {
    <div class="container-fluid mt-4 mb-4 border light-blue-background py-2">
        <form [formGroup]="myForm"  (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-6">
                    <div class="py-1">
                        <label for="vigency" class="form-label">Periodo de gracia de vigencia de empleado (días)
                            <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="vigency" placeholder="Consecutivo" formControlName="vigency">
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="submit"  class="btn btn-success me-2" ><i
                    class="fas fa-save me-2" ></i>Guardar</button>
                <button type="button" class="btn btn-secondary" (click)="revertChanges()"><i
                    class="fas fa-times me-2"></i>Cancelar</button>
            </div>
        </form>
    </div>

} @else {
    <div class="container-fluid mt-4 mb-4">
        <div class="alert alert-warning text-center">
            <i class="fas fa-exclamation-triangle me-2"></i>
            Por favor, seleccione una sucursal para configurar la nómina.
        </div>
    </div>
}
