@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "@ng-select/ng-select/themes/default.theme.css";
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 /* Core Grid CSS */
 @import 'ag-grid-community/styles/ag-grid.css';
 /* Quartz Theme Specific CSS */
   @import 'ag-grid-community/styles/ag-theme-quartz.css';
   @import 'ag-grid-community/styles/ag-theme-alpine.css';

.ag-theme-quartz, .ag-theme-quartz-dark {
 /* Changes the color of the grid text */
 --ag-foreground-color: rgb(14, 68, 145);
 /* Changes the color of the grid background */
 --ag-background-color: rgba(241, 247, 255);
 /* Changes the header color of the top row */
 --ag-header-background-color: rgba(228, 237, 250);
 /* Changes the hover color of the row*/
 --ag-row-hover-color: rgba(0, 38, 255, 0.1);
}

// DHTMLX Gantt CSS
@import "dhtmlx-gantt/codebase/dhtmlxgantt.css";

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f6f9;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #096fd4;
  color: #fff;
  padding: 20px;
  height: 100%;
}

.sidebar .nav-link {
  color: #ced4da;
  transition: all 0.3s;
}

.sidebar .nav-link:hover, .sidebar .nav-link.active {
  color: #fff;
  background-color: #0b5ca3;
}

.sidebar .nav-link i {
  margin-right: 10px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 20px;
  border-radius: 8px;
}

.navbar {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.main-footer {
  background-color: #fff;
  color: #6c757d;
  padding: 15px 0;
  font-size: 0.9em;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  text-align: center;
}

.footer-section a {
  color: #007bff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.small-text-ag-grid {
  --ag-font-size: 11px;
}


