<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab === 'conf'" data-toggle="tab"
             (click)="onTabSelected('conf')">
            <span style="font-size: 16px;">{{'setting' | translate}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab === 'users-menu'" data-toggle="tab"
             (click)="onTabSelected('users-menu')">
            <span style="font-size: 16px;">{{'user' | translate}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab === 'providers'" data-toggle="tab"
             (click)="onTabSelected('providers')">
            <span style="font-size: 16px;">{{'providers' | translate}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab === 'contract'" data-toggle="tab"
             (click)="onTabSelected('contract')">
            <span style="font-size: 16px;">{{'contract' | translate}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab === 'oil'" data-toggle="tab"
             (click)="onTabSelected('oil')">
            <span style="font-size: 16px;">{{'oil' | translate}}{{' '}}{{'fields' | translate}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab === 'proj'" data-toggle="tab"
             (click)="onTabSelected('proj')">
            <span style="font-size: 16px;"> {{'projects' | translate}} </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab === 'root'" data-toggle="tab"
             (click)="onTabSelected('root')">
            <span style="font-size: 16px;"> {{'root' | translate}} </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'conf'" *ngIf="selectedTab === 'conf'">
      <app-setup></app-setup>
      <p>Configuracion/Settings</p>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'users-menu'" *ngIf="selectedTab === 'users-menu'">
      <app-users-menu></app-users-menu>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'providers'" *ngIf="selectedTab === 'providers'">
      <app-providers></app-providers>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'contract'" *ngIf="selectedTab === 'contract'">
      <app-contracts></app-contracts>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'oil'" *ngIf="selectedTab === 'oil'">
      <app-oilfields></app-oilfields>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'proj'" *ngIf="selectedTab === 'proj'">
      <app-projects></app-projects>
    </div>
    <div class="tab-pane" [class.active]="selectedTab === 'root'" *ngIf="selectedTab === 'root'">
      <app-root></app-root>
    </div>
  </div>
</div>