<div class="row">
      <div class="col-12">
        <section>
          <h3>Information</h3>
          <div class="row">

            <!-- The AG Grid component -->
            <ag-grid-angular 
                class="ag-theme-quartz small-text-ag-grid master-grid"
                style="width: 100%; height: 300px;" 
                [rowData]="rowMaster"
                [columnDefs]="colMaster" 
                (selectionChanged)="onSelectionChanged($event)"
                (cellValueChanged)="onCellValueChanged($event)" 
                (gridReady)="onMasterGridReady($event)"
                [rowSelection]="'single'" 
                [pivotPanelShow]="pivotPanelShow"
                [rowGroupPanelShow]="rowGroupPanelShow"
                [gridOptions]="gridOptions"
                [stopEditingWhenCellsLoseFocus]="true">
        </ag-grid-angular>
        
          </div>
        </section>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" type="button" role="tab"
               aria-controls="tab1" aria-selected="true">Categorias</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" 
            aria-controls="tab2" aria-selected="false">Datos Bancarios</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="tab" 
                  aria-controls="tab3" aria-selected="false">Egresos</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab4-tab" data-bs-toggle="tab" href="#tab4" role="tab" 
             aria-controls="tab4" aria-selected="false">Equipos Asignados</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <p>Content for Tab 1.</p>
          </div>
          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <p>Content for Tab 2.</p>
          </div>
          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <p>Content for Tab 3.</p>
          </div>
          <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
            <p>Content for Tab 4.</p>
          </div>
        </div>
      </div>
    </div>