<div class="col-md-12">
      <div class="card my-4">
        <div class="card-header p-3">
          <ul class="nav nav-pills justify-content-left">
            <li class="nav-item">
              <a class="nav-link green-tab d-flex align-items-center" routerLink="setupadm" routerLinkActive="active">
                <mat-icon>phonelink_setup</mat-icon> {{ 'setting' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link green-tab d-flex align-items-center" routerLink="page01" routerLinkActive="active">
                <mat-icon>account_balance</mat-icon> {{ 'bank' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link green-tab d-flex align-items-center" routerLink="income" routerLinkActive="active">
                <mat-icon>payments</mat-icon> {{ 'income' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link green-tab d-flex align-items-center" routerLink="expend" routerLinkActive="active">
                <mat-icon>paid</mat-icon> {{ 'expend' | translate }}
              </a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    