<div class="col-md-12">
  <div class="card">
    <div class="card-header px-2">
      <ul class="nav nav-pills">

        <li class="nav-item" *ngIf="authService.hasDetailedPermission('administration', 'dashboard')">
          <a class="nav-link green-tab d-flex align-items-center"
             [routerLink]="['tablero','dashmodadmon']"
             routerLinkActive="active">
            <mat-icon>analytics</mat-icon> {{ 'dashboardBi' | translate }}
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.hasDetailedPermission('administration', 'dashboard-hco')">
          <a class="nav-link green-tab d-flex align-items-center"
             [routerLink]="['tablero','dashboard-hco']"
             routerLinkActive="active">
            <mat-icon>dashboard</mat-icon> {{ 'dashboard' | translate }}
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.hasDetailedPermission('administration', 'setup')">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="setup" routerLinkActive="active">
            <mat-icon>phonelink_setup</mat-icon> {{ 'setting' | translate }}
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.hasDetailedPermission('administration', 'bank')">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="page01" routerLinkActive="active">
            <mat-icon>account_balance</mat-icon> {{ 'bank' | translate }}
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.hasDetailedPermission('administration', 'transfers')">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="transferencias" routerLinkActive="active">
            <mat-icon>swap_horiz</mat-icon> Transferencias
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.hasDetailedPermission('administration', 'aportaciones')">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="aportaciones" routerLinkActive="active">
            <mat-icon>account_balance_wallet</mat-icon> Aportación
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.hasDetailedPermission('administration', 'income')">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="income" routerLinkActive="active">
            <mat-icon>payments</mat-icon> {{ 'income' | translate }}
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.hasDetailedPermission('administration', 'expend')">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="expend" routerLinkActive="active">
            <mat-icon>paid</mat-icon> {{ 'expend' | translate }}
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.hasDetailedPermission('administration', 'stakeholder-expend')">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="stakeholder-expend" routerLinkActive="active">
            <mat-icon>group_remove</mat-icon> Retiro Socios
          </a>
        </li>

        <li class="nav-item" *ngIf="idUser === 42">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="masterExpenses" routerLinkActive="active">
            <mat-icon>paid</mat-icon> {{ 'expend' | translate }} 3
          </a>
        </li>

        <li class="nav-item me-2" *ngIf="authService.hasDetailedPermission('administration', 'customer')">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="page02" routerLinkActive="active">
            <mat-icon>people</mat-icon> {{ 'customer' | translate }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="providers-st" routerLinkActive="active">
            <i class="bi bi-people-fill"></i> {{'providers' | translate}}
          </a>
        </li>

        <li class="nav-item me-2" *ngIf="authService.hasDetailedPermission('administration', 'electronic_invoice')">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="page04" routerLinkActive="active">
            <mat-icon>receipt_longe</mat-icon> {{ 'electronic_invoice' | translate }}
          </a>
        </li>

        <li class="nav-item me-2" *ngIf="authService.hasDetailedPermission('administration', 'palacio_municipal')">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="palacio-municipal"
            routerLinkActive="active">
            <mat-icon>account_balance</mat-icon> {{ 'palacio_municipal' | translate }}
          </a>
        </li>

        <li class="nav-item me-2" *ngIf="authService.hasDetailedPermission('administration', 'accounting_accounts')">
          <a class="nav-link green-tab d-flex align-items-center" routerLink="cuentas-contables"
            routerLinkActive="active">
            <mat-icon>account_tree</mat-icon> {{ 'Cuentas Contables' | translate }}
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.hasDetailedPermission('administration', 'catalogs')">
          <a class="nav-link green-tab" routerLink="catalogs" routerLinkActive="active"><i class="bi bi-list-ul"></i>
            {{'catalogs' | translate}}</a>
        </li>


      </ul>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>