<app-multi-line-editor></app-multi-line-editor>
<div class="row p-3">
    <div class="col-12">
        <div class="row mb-3">
            <div class="col text-right"><button type="button" class="btn btn-primary me-1" (click)="addRow()"><i
                        class="bi bi-plus-lg" style="font-size: 1.5rem;"></i></button>
                <button type="button" class="btn btn-success ms-1 me-1 position-relative" (click)="saveChanges()">
                    <i class="bi bi-floppy" style="font-size: 1.5rem;"></i>
                    <span
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                        *ngIf="notSavedChanges"><span class="visually-hidden">Hay cambios sin guardar</span>
                    </span>
                </button>
                <button type="button" class="btn btn-warning ms-1 me-1" (click)="revert()"><i
                        class="bi bi-arrow-clockwise" style="font-size: 1.5rem;"></i></button>
                <button type="button" class="btn btn-danger ms-1 me-1" (click)="deleteEntry()"><i class="bi bi-trash"
                        style="font-size: 1.5rem;"></i></button>
            </div>
        </div>
        <div class="row">
            <ag-grid-angular style="width: 100%; height: 500px;" [defaultColDef]="defaultColDef" class="ag-theme-quartz small-text-ag-grid" [rowData]="rowData"
                [columnDefs]="columnDefs" (selectionChanged)="onSelectionChanged($event)" [gridOptions]="gridOptions"
                (cellValueChanged)="onCellValueChanged($event)" (rowSelected)="onSelectedRow($event)"
                (gridReady)="onGridReady($event)" rowSelection="single" [pivotPanelShow]="pivotPanelShow"
                [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow">
            </ag-grid-angular>
        </div>
    </div>
</div>
