<app-multi-line-editor></app-multi-line-editor>

<div class="col-12">
  <div class="row g-2">
    <div class="col-auto">
      <div class="d-flex flex-column gap-1">
        <button type="button" class="btn btn-success" (click)="addRow()" title="Agregar">
          <i class="bi bi-plus-lg"></i>
        </button>
        <button type="button" class="btn btn-primary position-relative" (click)="saveChanges()" title="Guardar">
          <i class="bi bi-floppy"></i>
          <span class="position-absolute top-0 end-0 translate-middle p-2 bg-danger border border-light rounded-circle"
            *ngIf="notSavedChanges">
            <span class="visually-hidden">Hay cambios sin guardar</span>
          </span>
        </button>
        <button type="button" class="btn btn-warning" (click)="revert()" title="Deshacer">
          <i class="bi bi-arrow-clockwise"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteEntry()" title="Borrar">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>

    <div class="col">
      <ag-grid-angular style="height: 650px; width: 100%;"
        class="ag-theme-quartz small-text-ag-grid"
        [rowData]="treeData"
        [columnDefs]="colMaster"
        [gridOptions]="gridOptions"
        (selectionChanged)="onSelectionChanged($event)"
        (cellValueChanged)="onCellValueChanged($event)"
        (gridReady)="onGridReady($event)"
        [rowSelection]="'single'"
        [stopEditingWhenCellsLoseFocus]="true">
      </ag-grid-angular>
    </div>
  </div>
</div>
