<div class="container-fluid mt-4 mb-4 light-blue-background ">
    <div class="col-12">
        <div class="form-group">
            <label>Elegir una opcion:</label>

            <div>
                <input type="radio" id="project" name="selection" value="project">
                <label for="project"> Proyecto</label>
            </div>
            <div>
                <input type="radio" id="branch" name="selection" value="branch">
                <label for="branch"> Sucursal</label>
            </div>
        </div>
    </div>
</div>

