
  <footer class="main-footer">
    <div class="footer-content">
      <div class="footer-section">
        <strong>User:</strong> {{displayName()()}}
      </div>
      <div class="footer-section">
        <strong>Compañia:</strong> {{companyName()()}}
      </div>
      <div class="footer-section">
        <strong>Copyright &copy; 2024-2025 <a href="https://www.hco-consultores.com/">SMP</a></strong>
      </div>
      <div class="footer-section">
        <strong>SMP Version 2.22.28 (5 Marzo 2025 15:07)</strong>
      </div>
    </div>
  </footer>
