
  <footer class="main-footer">
    <div class="footer-content">
      <div class="footer-section">
        <strong>User:</strong> {{displayName()()}}
      </div>
      <div class="footer-section">
        <strong>Compañia:</strong> {{companyName()()}}
      </div>
      <div class="footer-section">
        <strong>Copyright &copy; 2024 <a href="https://www.hco-consultores.com/">SMP</a></strong>
      </div>
      <div class="footer-section">
        <strong>SMP Version 2.22.8 (15 Febrero 2025 16:10)</strong>
      </div>
    </div>
  </footer>
