<div class="col-md-12">
  <div class="card mt-3">
    <div class="card-header p-2">
      <!-- Navegación de segundo nivel -->
      <ul class="nav nav-pills nav-level-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="materiales-maestro" routerLinkActive="active">
            <i class="bi bi-archive"></i> Materiales Maestro
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="primera-fase" routerLinkActive="active">
            <i class="bi bi-1-circle"></i> Primera Fase
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="primera-fase-historico" routerLinkActive="active">
            <i class="bi bi-clock-history"></i> Primera Fase Histórico
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="segunda-fase" routerLinkActive="active">
            <i class="bi bi-2-circle"></i> Segunda Fase
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="segunda-fase-historico" routerLinkActive="active">
            <i class="bi bi-clock-history"></i> Segunda Fase Histórico
          </a>
        </li>
      </ul>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>